<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Emergency Details</ion-title>
      <ng-container *ngIf="emergency?.status === 1">
        <ion-chip color="danger">
          <ion-label>Ongoing</ion-label>
        </ion-chip>
      </ng-container>
      <ng-container *ngIf="emergency?.status === 0">
        <ion-chip color="success">
          <ion-label>Ended</ion-label>
        </ion-chip>
      </ng-container>
      
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="stmt">
    <p>Up-to-date emergency details</p>
  </div>

  <ion-accordion-group *ngIf="emergency" mode="ios" [multiple]="true" [value]="['first', 'second', 'third']">
    <ion-accordion  value="first">
      <ion-item slot="header" class="first-item">
        <p class="statement">Case Information</p>
      </ion-item>
      <div class="container" slot="content">
        <div class="emergency-info">
          <ion-list>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="person-outline"></ion-icon>
                <p class="type">Medic on scene: </p>
              </div>
              <div class="info-answer">
                <p class="answer" *ngIf="emergency.medic; else noMedic">
                  {{ emergency.medic.first_name }}
                  {{ emergency.medic.last_name }}
                </p>
              </div>
              <ng-template #noMedic>
                <div class="info-answer">
                  <p class="answer">
                    N/A
                  </p>
                </div>
              </ng-template>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="location-outline"></ion-icon>
                <p class="type">Location: </p>
              </div>
              <div class="info-answer">
                <p class="answer">{{ emergency.location }}</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="document-text-outline"></ion-icon>
                <p class="type">Description: </p>
              </div>
              <div class="info-answer">
                <p class="answer">{{ emergency.reporter_description }}</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="time-outline"></ion-icon>
                <p class="type">Reported at: </p>
              </div>
              <div class="info-answer">
                <p class="answer">{{ emergency.created_at | date: 'hh:mm dd/MM/yyy' }}</p>
              </div>
            </div>
          </ion-list> 
        </div>
      </div>
    </ion-accordion>

    <ion-accordion value="second" expanded="true">
      <ion-item slot="header">
        <p class="statement">Patient Information</p>
      </ion-item>
      <div class="container" slot="content">
        <div class="patient-info">
          <ion-list>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="person-outline"></ion-icon>
                <p class="type">Patient name: </p>
              </div>
              <div class="info-answer">
                <p class="answer">{{ emergency.patient_name ? emergency.patient_name : 'N/A' }}</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="card-outline"></ion-icon>
                <p class="type">Patient ID: </p>
              </div>
              <div class="info-answer">
                <p class="answer">{{ emergency.patient_lau_id ? emergency.patient_lau_id || 'N/A' : 'N/A' }}</p>
              </div>
            </div>    
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="document-text-outline"></ion-icon>
                <p class="type">Medic description: </p>
              </div>
              <div class="info-answer">
                <p class="answer">{{ emergency.medic_description ? emergency.medic_description || 'N/A' : 'N/A' }}</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="warning-outline"></ion-icon>
                <p class="type">Case severity: </p>
              </div>
              <div class="info-answer">
                <p class="answer">{{ emergency.patient_condition ? emergency.patient_condition || 'N/A' : 'N/A' }}</p>
              </div>
            </div>
          </ion-list> 
        </div>
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header">
        <p class="statement">Vital Records</p>
      </ion-item>  
      <div class="assessment" slot="content">
        <ng-container *ngIf="assessments.length > 0">
          <div *ngFor="let assessment of assessments; let i = index">
            <div class="header">
              <p class="assessment-number">Assessment {{i + 1}}</p>
              <p class="assessment-time">{{ assessment.created_at | date: 'hh:mm'}}</p>
            </div>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="heart-rate">
                      <ion-img src="assets/icon/hr.png"></ion-img>
                      <p class="hr">{{ assessment.heart_rate ? assessment.heart_rate || 'N/A' : 'N/A' }}</p>
                    </div>
                  </td>              
                  <td>
                    <div class="blood-pressure">
                      <ion-img src="assets/icon/bp.png"></ion-img>
                      <div class="bp">
                        <p class="blood-press">{{ assessment.blood_pressure ? assessment.blood_pressure || 'N/A' : 'N/A' }}</p>
                      </div>
                    </div>    
                  </td>
                  <td>
                    <div class="spo2">
                      <ion-img src="assets/icon/spo2.png"></ion-img>
                      <p class="sp">{{ assessment.oxygen_saturation ? assessment.oxygen_saturation || 'N/A' : 'N/A' }}</p>
                    </div>
                  </td>                    
                  <td>
                    <div class="temperature">
                      <ion-img src="assets/icon/temp.png"></ion-img>
                      <p class="temp">{{ assessment.temperature ? assessment.temperature || 'N/A' : 'N/A' }}</p>
                    </div>      
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="respiration-rate">
                      <ion-img src="assets/icon/rr.png"></ion-img>
                      <p class="rr">{{ assessment.respiration_rate ? assessment.respiration_rate || 'N/A' : 'N/A' }}</p>
                    </div>  
                  </td>
                  <td>
                    <div class="capillary-refill">
                      <ion-img src="assets/icon/crt.png"></ion-img> 
                      <p class="crt">{{ assessment.capillary_refill_time ? assessment.capillary_refill_time || 'N/A' : 'N/A' }}</p>
                    </div> 
                  </td>                
                  <td>
                    <div class="hemo-gluco-test">
                      <ion-img src="assets/icon/hgt.png"></ion-img>
                      <p class="hgt">{{ assessment.hemoglucotest ? assessment.hemoglucotest || 'N/A' : 'N/A' }}</p>
                    </div>
                  </td>
                  <td>    
                    <div class="pupils-reaction">
                      <ion-img src="assets/icon/pr.png"></ion-img> 
                      <p class="pr">{{ assessment.pupils_reaction ? assessment.pupils_reaction || 'N/A' : 'N/A' }}</p>
                    </div> 
                  </td> 
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-container *ngIf="assessments.length === 0 && emergency?.status === 1">
          <div class="no-assessments-container">
            <h6>
              No vitals recorded by the medic yet!
            </h6>
          </div>
        </ng-container>
        <ng-container *ngIf="assessments.length === 0 && emergency?.status === 0">
          <div class="no-assessments-container">
            <h6>
              No vital records available for this emergency
            </h6>
          </div>
        </ng-container>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ng-container *ngIf="!emergency && isLoading">
    <div class="body">
      <ion-spinner name="crescent"></ion-spinner>
    </div> 
  </ng-container>
</ion-content>
