<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Medical FAQs</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="stmt">
    <p class="section">Patient Assessment</p>
  </div>

  <div class="cards-container">
    <ion-card>
      <div class="question-container">
        <p class="question">What is the first responsibility of the EMT-B on the scene 
          of an emergency before starting to assess the patient?</p>
      </div>
      <div class="answer-container">
        <p class="answer">SCENE SIZE-UP
          1. Dispatch information
          2. Body Substance Isolation
          3. Scene Safety/Scene hazards
          4. Mechanism of injury/ Nature of illness
          5. Number of patients
          6. Additional resources needed
          7. C-Spine Immobilization</p>
      </div>
    </ion-card>
  </div>
</ion-content>
