.background{
  --ion-background-color:#FFEDED;
}

.logo{
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 8%;
  max-width: 100%;
}

.shape{
  position: fixed;
  bottom:0;
  width: 100%;
}



h1 {
  position: absolute;
  width: 5em;
  top: 9em;
  left: 1em;
  font-size: 28px;
}

