<ion-content class="background">

  <ion-header id="main-content">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">Report Emergency</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-menu></app-menu>

  <div class="body">
    <div class="stmt">
      <h1>Received an emergency call?</h1>
      <h4>{{ firstH4Content }}</h4>
      <h4 class="second">{{ secondH4Content }}</h4>
    </div>
  
    <div class="circles-container">
      <button class="sos-button" [ngClass]="{'sos-button-animated': isButtonClicked}" (click)="presentAlert()"><h1>SOS</h1></button>
      <div [ngClass]="{'circle circle-2-animated': isButtonClicked, 'circle circle-2': !isButtonClicked}"></div>
      <div [ngClass]="{'circle circle-3-animated': isButtonClicked, 'circle circle-3': !isButtonClicked}"></div>
    </div>
  
    <div *ngIf="notifyingStatement" class="notif-stmt">
      <h2>{{ notifyingStatement }}</h2>
    </div>
  </div>
</ion-content>

<ion-footer class = "footer">
  <ion-toolbar class="footer-toolbar">
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>