.toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

ion-menu-button{
  font-weight: normal;
}

.title{
  font-size: 22px;
  font-weight: normal;
}

.search-bar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2em;
}

ion-searchbar.search-bar {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px;
  border-radius: 20px;
  --background: transparent;
  --box-shadow: none;
}

.lists-container{
  margin: 1em;
}

ion-list {
  --ion-item-background: transparent;
}

ion-list-header {
  font-weight: bold;
}

ion-card{
  margin: 0;
}

ion-item:active{
  opacity: 0.2;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5em;
  padding: 10px;
}

.stmt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  font-size: 18px;
  font-weight: bold;
}

.second-stmt{
  margin-top: -1em;
  font-size: 14px;
  text-align: center;
}

.no-emergencies-img{
  width: 80%;
}

.no-results{
  font-style: italic;
}