<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Extensions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="search-bar-container">
    <ion-searchbar mode="md" class="search-bar" [debounce]="800" placeholder="Search a name..." (ionInput)="handleInput($event)"></ion-searchbar>
  </div>

  <div class="lists-container">
    <ng-container *ngFor="let group of filteredGroupedExtensions">
        <ion-list *ngIf="group.extensions.length > 0">
          <ion-list-header [id]="'header-' + group.letter">{{ group.letter }}</ion-list-header>
          <ion-card>
            <ion-item lines="full" *ngFor="let extension of group.extensions">
              <span class="first-name">{{ extension.name }}</span>
              <ion-text slot="end">{{ extension.number }}</ion-text>
            </ion-item>
          </ion-card>
        </ion-list>
    </ng-container>
  </div> 
</ion-content>