.toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  --background: #FFEDED;
}

ion-menu-button{
  color: black;
  font-weight: normal;
}

.title{
  font-size: 22px;
  color: black;
  font-weight: normal;
}

.search-bar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2em;
}

ion-searchbar.search-bar {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px #810808;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  --background: transparent;
  --color: black;
  --placeholder-color: gray;
  --icon-color: #810808;
  --clear-button-color: #810808; 
  --box-shadow: none;
}

.lists-container{
  margin-left: 10px;
  margin-right: 2em;  
  margin-bottom: 5em;
}

ion-list {
  --ion-item-background: transparent;

}

ion-list-header {
  color: black;
  font-weight: bold;
}

ion-card{
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

ion-item {
  color: black;
}

.first-name {
  font-weight: bold;
}

ion-note{
  color: black;
  size: 16px;
  font-weight: bold;
}

.vertical-bar {
  position: fixed;
  top: 53%;
  right: 0;
  transform: translateY(-50%);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  width: 50px;
}

ul {
  list-style-type: none;
}

li {
  color: black;
  font-size: 15px;
  padding-bottom: 4px;
}