<ion-content class="gradient-background">

  <div class="container">
    <p class="hello"> Hello, </p>
    <p class="name"> Joe Wehbe </p>
  </div>

  <div class="body">
    <div class="stmts">
      <p class="stmt1"> Admins are making sure <br>
        you're in the emergency unit</p>
      <p class="stmt2"> Check back later or contact <br>
        a board member </p>
    </div>

    <div class="img-container">
      <ion-img src="assets/img/pending-illustration.png"></ion-img>
    </div>

  </div>


</ion-content>