<ion-content class="gradient-background">

  <ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Community</ion-title>
  </ion-toolbar>
</ion-header>
<app-menu></app-menu>

  <ion-searchbar show-clear-button="always" placeholder="Search for a member..." (ionInput)="filterMembers($event)">
  </ion-searchbar> 


  
  <!-- Alphabet Navigation  -->
 
  <ion-col side="start" class="alphabet-column">
    <ion-list>
      <ion-item *ngFor="let alphabet of alphabets">
        <ion-label (click)="scrollToLetter(alphabet)">{{ alphabet }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-col>
  
  <!-- <div> -->
    <!-- <ion-grid>
      <ion-row class="member-list">
        <ion-col size="4" *ngFor="let group of groups">
          <ng-container *ngFor="let member of group.members; let i = index;">
            <ion-card *ngIf="i % 3 === 0">
              <ion-card-content>
                //Card content goes here
                <ion-avatar>
                  <img [src]="member.avatar" />
                </ion-avatar>
                <ion-label>{{ member.name }}</ion-label>
                <span class="member-role">{{ member.role }}</span>
                <ion-button size="small" outline [disabled]="!member.isOnShift" color="success">Online</ion-button>
              </ion-card-content>
            </ion-card>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
   -->
   <div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card>
            <ion-card-content>
              1
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <ion-card-content>
              2
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <ion-card-content>
              3
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <ion-card-content>
              4
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> 

</ion-content>
