<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="background" *ngIf="showSideMenu && !reportPageActive">
      <ion-header>
        <ion-toolbar class="menu-toolbar">
          <div class="container">
            <div>
              <ion-avatar slot="start" class="profile-picture">
                <img alt="Silhouette of a person's head" [src]="(user_profile_pic && user_profile_pic !== 'null') ? 'http://localhost:8000/storage/images/' + user_profile_pic : 'https://ionicframework.com/docs/img/demos/avatar.svg'" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" />
              </ion-avatar>            
            </div>
            <div class="profile-info">
              <p class="name">{{ first_name }} {{ last_name }}</p>
              <p class="role">{{ rank }}</p>
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="menu-content-container">
          <ion-menu-toggle auto-hide="false">
            <div class="first-block">
              <ion-list>
                  <div class="tab-container" routerDirection="root" [routerLink]="'/tabs/report-emergency'" lines="none" detail="false" routerLinkActive="selected">
                    <ion-img src="assets/icon/report-emergency.png"></ion-img>
                    Emergency
                  </div>
                  <div class="tab-container" routerDirection="root" [routerLink]="'/profile'" lines="none" detail="false" routerLinkActive="selected">
                    <ion-img src="assets/icon/person.png"></ion-img>
                    My profile
                  </div>
                  <div class="tab-container" routerDirection="root" [routerLink]="'/community'" lines="none" detail="false" routerLinkActive="selected">
                    <ion-img src="assets/icon/people.png"></ion-img>
                    Community
                  </div>
              </ion-list>  
            </div>
            <div class="seperator"></div>
            <div class="second-block">
              <ion-list>
                <div class="tab-container" routerDirection="root" [routerLink]="'/announcements'" lines="none" detail="false" routerLinkActive="selected">
                  <ion-img src="assets/icon/announcement.png"></ion-img>
                  Announcements
                  <p class="notif">2</p>
                </div>
                <div class="tab-container" routerDirection="root" [routerLink]="'cover-requests'" lines="none" detail="false" routerLinkActive="selected">
                  <ion-img src="assets/icon/cover-request.png"></ion-img>
                  <p>Cover requests</p>
                  <p class="notif">{{ cover_requests_count }}</p>
                </div>
                <div class="tab-container" routerDirection="root" [routerLink]="'/case-reports'" lines="none" detail="false" routerLinkActive="selected">
                  <ion-img src="assets/icon/case-report.png"></ion-img>
                  Case reports
                  <p class="notif">{{ case_reports_count }}</p>
                </div>
                <div class="tab-container" routerDirection="root" [routerLink]="'/extensions'" lines="none" detail="false" routerLinkActive="selected">
                  <ion-img src="assets/icon/phone-extensions.png"></ion-img>
                  Phone extensions
                </div>
                <div class="tab-container" routerDirection="root" [routerLink]="'/medical-faqs'" lines="none" detail="false" routerLinkActive="selected">
                  <ion-img src="assets/icon/medical-faq.png"></ion-img>
                  Medical FAQs
                </div>
              </ion-list>  
            </div>
            <div class="seperator"></div>
            <div class="third-block">
              <ion-list>
                <div *ngIf="rank === 'Admin' || rank === 'Medic & Admin' || rank === 'Dispatcher & Admin'"  class="tab-container" routerDirection="root" [routerLink]="'/admin-panel'" lines="none" detail="false" routerLinkActive="selected">
                  <ion-img src="assets/icon/admin-panel.png"></ion-img>
                  Admin panel
                </div>
                <div class="darkmode-tab-container" lines="none" detail="false" (click)="$event.stopPropagation()">
                  <ion-icon name="moon-outline"></ion-icon>
                  Dark Mode
                  <ion-toggle mode="md" (ionChange)="toggleDarkMode()" [checked]="darkMode"></ion-toggle>
                </div>
                <div class="tab-container" routerDirection="root" (click)="logoutAlert()" (click)="$event.stopPropagation()" lines="none" detail="false" routerLinkActive="selected">
                  <ion-img src="assets/icon/logout.png"></ion-img>
                  Logout
                </div>
              </ion-list>  
            </div>
          </ion-menu-toggle>
        </div>
      </ion-content>
    </ion-menu>

    <ion-menu  contentId="main-content" type="overlay" class="background" *ngIf="showSideMenu && reportPageActive">
      <ion-header>
        <ion-toolbar class="menu-toolbar">
          <div class="container">
            <div>
              <ion-avatar slot="start" class="profile-picture">
                <img alt="Silhouette of a person's head" [src]="(user_profile_pic && user_profile_pic !== 'null') ? 'http://localhost:8000/storage/images/' + user_profile_pic : 'https://ionicframework.com/docs/img/demos/avatar.svg'" onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" />
              </ion-avatar>            
            </div>
            <div class="profile-info">
              <p class="name">{{ first_name }} {{ last_name }}</p>
              <p class="email">{{ email }}</p>
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="false">
          <div class="menu-content-container">
            <div class="blocks-container">
              <div class="upper-block">
                <div class="logo-block">
                  <img class="logo" src="/assets/img/logo.png">
                </div>
                <div class="statements">
                  <h1> Want to join our unit?</h1>
                  <h6> Be part of a vibrant community dedicated to saving lives!</h6>
                </div>
                <ion-button *ngIf="!request_status" mode="ios" fill="outline" (click)="applyAlert()" (click)="$event.stopPropagation()">
                  Apply
                </ion-button>
                <ion-text *ngIf="request_status == 'pending'" fill="outline" mode="ios" (click)="$event.stopPropagation()">
                  Application status: <ion-text class="pending">Pending</ion-text>
                </ion-text>
                <ion-text *ngIf="request_status == 'accepted'" fill="outline" mode="ios" (click)="$event.stopPropagation()">
                  Application status: <ion-text class="accepted">Accepted</ion-text>
                </ion-text>              
                <ion-button *ngIf="request_status == 'accepted'" mode="ios" fill="outline" [routerLink]="'/tabs/report-emergency'" (click)="$event.stopPropagation()">
                  Get started
                </ion-button>
                <ion-text *ngIf="request_status == 'rejected'" fill="outline" mode="ios" (click)="$event.stopPropagation()">
                  Application status: <ion-text class="rejected">Rejected</ion-text>
                </ion-text>
              </div>
              <div class="lower-block">
                <ion-list>
                  <div class="darkmode-tab-container" lines="none" detail="false" (click)="$event.stopPropagation()">
                    <ion-icon name="moon-outline"></ion-icon>
                    Dark Mode
                    <ion-toggle mode="md" (ionChange)="toggleDarkMode()" [checked]="darkMode"></ion-toggle>
                  </div>
                  <div class="tab-container" routerDirection="root" (click)="logoutAlert()" (click)="$event.stopPropagation()" lines="none" detail="false" routerLinkActive="selected">
                    <ion-img src="assets/icon/logout.png"></ion-img>
                    Logout
                  </div>
                </ion-list>  
              </div>
            </div>
          </div>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>