<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-background">
  <ion-card class="card-container" *ngIf="user">
      
    <div class="header">
      <ion-avatar class="icon">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
  
      <div class="container">
        <div class="np-container">
          <h2 class="name">{{ user.first_name }} {{ user.last_name }}</h2>
          <p class="position">{{user.rank.rank_name}}</p>
        </div>

        <div class="edit-button">
          <ion-icon name="create-outline" (click)="navigateEditProfile()"></ion-icon>
        </div>
      </div>
    </div>

    <ion-grid [fixed]="true" class="grid-container">
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="assets/icon/email.png"></ion-img>
          <p>{{ user.first_name }} {{ user.last_name }}</p>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="assets/icon/phone.png"></ion-img>
          <p>{{ user.phone_number }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="assets/icon/id.png"></ion-img>
          <p>{{ user.student_id }}</p>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="assets/icon/major.png"></ion-img>
          <p>{{ user.major }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="seperator">
      <div class="first-line"></div>
      <p class="section-name">Experience</p>
      <div class="second-line"></div>
    </div>
  
    <div class="experience-sections">
      <div class="first-experience-section">
        <h6>Talk about your accomplishments</h6>
        <ion-card class="experience-card">
          <ion-text class="experience-text">{{ user.bio }}</ion-text>
        </ion-card>
      </div>
  
      <div class="second-experience-section">
        <h6>Show your skills in the medical field</h6>
        <ion-card class="skills-card">
          <ng-container *ngIf="user && user.tags">
            <ng-container *ngFor="let tag of user.tags.split(',')">
              <ion-badge>{{ tag.trim() }}</ion-badge>
            </ng-container>
          </ng-container>
        </ion-card>
      </div>
    </div>

    <div class="seperator">
      <div class="first-line"></div>
      <p class="section-name">Schedule</p>
      <div class="second-line"></div>
    </div>

    <div class="calendar-container">
      <ion-datetime 
        class="calendar"
        mode="md" 
        presentation="date" 
        [firstDayOfWeek]="1" 
        [highlightedDates]="highlightedDates"
        (ionChange)="showShiftTime($event)">
      </ion-datetime> 
    </div>

    <div class="attendance-button-container">
      <ion-button mode="ios" class="attendance-button" fill="outline" (click)="markAttendance()">Mark attendance</ion-button>
    </div>
  </ion-card>
</ion-content>