<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Case Report Form</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class = "mainpage">
    <div class = stmt>
      Fill the case report form
    </div>
    
    <ion-list>
      <div class="question">
        <ion-input label="Date of incident" type = "date" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="calendar-number-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="question">
        <ion-input label="Time of incident" type = "time" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="time-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="question">
        <ion-input label="First responder team on site" type = "text" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="people-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="question">
        <ion-input label="Patient's name" type = "text" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="body-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="question">
        <ion-input label="Location of incident" type = "text" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="location-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="question">
        <ng-container *ngIf="selectedOption1 !== 'other'" >
          <ion-select [(ngModel)]="selectedOption1" label = "Patient's condition" mode="md" label-placement="floating" fill="outline">
            <ion-select-option value="serious">Serious</ion-select-option>
            <ion-select-option value="not-serious">Not serious</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <ion-icon class="modal-icon" name="pulse-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="selectedOption1 === 'other'">
          <ion-input placeholder="Specify..." mode="md" fill="outline">
            <ion-icon class="modal-icon" name="pulse-outline" slot="start"></ion-icon>
          </ion-input>
        </ng-container>
      </div>

      <div class="question"> 
          <ion-textarea label="History" mode = "md" type = "text" label-placement="floating" fill = "outline">
            <ion-icon class="modal-icon" name="document-text-outline" slot="start"></ion-icon>
          </ion-textarea>
      </div>

      <div class="question">
        <ng-container *ngIf="selectedOption2 !== 'other'" >
          <ion-select [(ngModel)]="selectedOption2" label = "Medication/Treatment administered by" mode="md" label-placement="floating" fill="outline">
            <ion-select-option value="first responder team">First Responder Team</ion-select-option>
            <ion-select-option value="lau clinic">LAU Clinic</ion-select-option>
            <ion-select-option value="none">None</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <ion-icon class="modal-icon" name="medkit-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="selectedOption2 === 'other'">
          <ion-input placeholder="Specify..." mode="md" fill="outline">
            <ion-icon class="modal-icon" name="medkit-outline" slot="start"></ion-icon>
          </ion-input>
        </ng-container>
      </div>

      <div class="question">
        <ng-container *ngIf="selectedOption3 !== 'other'" >
          <ion-select [(ngModel)]="selectedOption3" label = "Transportation requested to" mode="md" label-placement="floating" fill="outline">
            <ion-select-option value="lau clinic">LAU Clinic</ion-select-option>
            <ion-select-option value="hospital">Hospital</ion-select-option>
            <ion-select-option value="none">None</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <ion-icon class="modal-icon" name="car-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="selectedOption3 === 'other'">
          <ion-input placeholder="Specify..." mode="md" fill="outline">
            <ion-icon class="modal-icon" name="car-outline" slot="start"></ion-icon>
          </ion-input>
        </ng-container>
      </div>

      <div class="question">
        <ng-container *ngIf="selectedOption4 !== 'other'" >
          <ion-select [(ngModel)]="selectedOption4" label = "Consultation done with nurse" mode="md" label-placement="floating" fill="outline">
            <ion-select-option value="yes">Yes</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <ion-icon class="modal-icon" name="chatbubbles-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="selectedOption4 === 'other'">
          <ion-input placeholder="Specify..." mode="md" fill="outline">
            <ion-icon class="modal-icon" name="chatbubbles-outline" slot="start"></ion-icon>
          </ion-input>
        </ng-container>
      </div>

      <div class="question">
        <ion-input label="Material/equipment used (if any)" type = "text" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="bandage-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="question">
        <ng-container *ngIf="selectedOption5 !== 'other'" >
          <ion-select [(ngModel)]="selectedOption5" label = "Any issues encountered by the dispatch team" mode="md" label-placement="floating" fill="outline">
            <ion-select-option value="yes">Yes</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
            <ion-icon class="modal-icon" name="warning-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="selectedOption5 === 'other'">
          <ion-input placeholder="Specify..." mode="md" fill="outline">
            <ion-icon class="modal-icon" name="warning-outline" slot="start"></ion-icon>
          </ion-input>
        </ng-container>
      </div>       
    </ion-list>

    <div class="submit-button-container">
      <ion-button fill="outline" mode="ios" class="submit-button" (click)="navigateCaseReport()">Submit</ion-button>
    </div>
  </div>
</ion-content>