<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Case Report Form</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="emergency">
  <div class = "mainpage">
    <div class = stmt>
      Fill the case report form
    </div>
    <ion-list>
      <div class="question">
        <ion-input label="Date of incident" mode="md" [value]="emergency.created_at | date:'dd/MM/yy'" label-placement="floating" fill="outline" [disabled]="true">
          <ion-icon class="modal-icon" name="calendar-number-outline" slot="start"></ion-icon>
        </ion-input>
      </div>
      <div class="question">
        <ion-input label="Time of incident" mode="md" [value]="emergency.created_at | date:'hh:mm'" label-placement="floating" fill="outline" [disabled]="true">
          <ion-icon class="modal-icon" name="time-outline" slot="start"></ion-icon>
        </ion-input>
      </div>
      <div class="question">
        <ion-input label="Medic on site" type = "text" [value] = "emergency.medic.first_name + ' ' + emergency.medic.last_name" mode="md" label-placement="floating" fill="outline" [disabled]="true">
          <ion-icon class="modal-icon" name="people-outline" slot="start"></ion-icon>
        </ion-input>
      </div>
      <div class="question">
        <ion-input [(ngModel)]="patientName" label="Patient's name" type = "text" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="body-outline" slot="start"></ion-icon>
        </ion-input>
      </div>
      <div class="question">
        <ion-input [(ngModel)]="location" label="Location of incident" type = "text" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="location-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="question">
        <ng-container *ngIf="patientCondition !== 'other'">
          <ion-select [(ngModel)]="patientCondition" label = "Patient's condition" mode="md" label-placement="floating" fill="outline" placeholder="Patient condition" class="patient-input">
            <ion-select-option value="Serious">Serious</ion-select-option>
            <ion-select-option value="Not serious">Not serious</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <ion-icon name="warning-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="patientCondition === 'other'">
          <ion-input [(ngModel)]="otherPatientCondition" label = "Patient's condition" mode="md" label-placement="floating" fill="outline" placeholder="Specify..." class="patient-input">
            <ion-icon name="warning-outline" slot="start"></ion-icon>
            <ion-icon class="backToSelect" name="backspace-outline" slot="end" (click)="enableSelectionPC()"></ion-icon>
          </ion-input>
        </ng-container>
      </div>

      <div class="question"> 
          <ion-textarea [(ngModel)]="history" label="History" mode = "md" type = "text" label-placement="floating" fill = "outline">
            <ion-icon class="modal-icon" name="document-text-outline" slot="start"></ion-icon>
          </ion-textarea>
      </div>

      <div class="question">
        <ng-container *ngIf="treatmentAdministration !== 'other'">
          <ion-select [(ngModel)]="treatmentAdministration" label = "Medication/Treatment administered by" mode="md" label-placement="floating" fill="outline" placeholder="Medication/Treatment administered by" class="patient-input">
            <ion-select-option value="first responder team">First Responder Team</ion-select-option>
            <ion-select-option value="lau clinic">LAU Clinic</ion-select-option>
            <ion-select-option value="none">None</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <ion-icon name="medkit-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="treatmentAdministration === 'other'">
          <ion-input [(ngModel)]="otherTreatmentAdministration" label = "Medication/Treatment administered by" mode="md" label-placement="floating" fill="outline" placeholder="Specify..." class="patient-input">
            <ion-icon name="medkit-outline" slot="start"></ion-icon>
            <ion-icon class="backToSelect" name="backspace-outline" slot="end" (click)="enableSelectionTA()"></ion-icon>
          </ion-input>
        </ng-container>
      </div>

      <div class="question">
        <ng-container *ngIf="transportation !== 'other'">
          <ion-select [(ngModel)]="transportation" label = "Transportation requested to" mode="md" label-placement="floating" fill="outline" placeholder="Transportation requested to" class="patient-input">
            <ion-select-option value="lau clinic">LAU Clinic</ion-select-option>
            <ion-select-option value="hospital">Hospital</ion-select-option>
            <ion-select-option value="none">None</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <ion-icon name="car-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="transportation === 'other'">
          <ion-input [(ngModel)]="otherTransportation" label = "Transportation requested to" mode="md" label-placement="floating" fill="outline" placeholder="Specify..." class="patient-input">
            <ion-icon name="car-outline" slot="start"></ion-icon>
            <ion-icon class="backToSelect" name="backspace-outline" slot="end" (click)="enableSelectionT()"></ion-icon>
          </ion-input>
        </ng-container>
      </div>

      <div class="question">
        <ng-container *ngIf="consultation !== 'other'">
          <ion-select [(ngModel)]="consultation" label = "Consultation done with nurse" mode="md" label-placement="floating" fill="outline" placeholder="Consultation done with nurse" class="patient-input">
            <ion-select-option value="yes">Yes</ion-select-option>
            <ion-select-option value="no">No</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
            <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
          </ion-select>
        </ng-container>
        <ng-container *ngIf="consultation === 'other'">
          <ion-input [(ngModel)]="otherConsultation" label = "Consultation done with nurse"  mode="md" label-placement="floating" fill="outline" placeholder="Specify..." class="patient-input" >
            <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
            <ion-icon class="backToSelect" name="backspace-outline" slot="end" (click)="enableSelectionC()"></ion-icon>
          </ion-input>
        </ng-container>
      </div>

      <div class="question">
        <ion-input [(ngModel)]="equipment" label="Material/equipment used (if any)" type = "text" mode="md" label-placement="floating" fill="outline">
          <ion-icon class="modal-icon" name="bandage-outline" slot="start"></ion-icon>
        </ion-input>
      </div>

      <div class="question">
        <ion-select [(ngModel)]="issues" label = "Any issues encountered by the dispatch team" mode="md" label-placement="floating" fill="outline">
          <ion-select-option value="yes">Yes</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
          <ion-icon class="modal-icon" name="warning-outline" slot="start"></ion-icon>
        </ion-select>
      </div>  

    </ion-list>
    <div class="submit-button-container">
      <ion-button fill="outline" mode="ios" class="submit-button" (click)="addCaseReport()">Submit</ion-button>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="!emergency && isLoading">
  <div class="body">
    <ion-spinner name="crescent"></ion-spinner>
  </div> 
</ion-content>
