.header-toolbar{
    height: 60px;
    --background: #FFEDED;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.toolbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
  
.back-button{
    font-weight: normal;
    color: black;
}
    
.title{
    font-size: 22px;
    font-weight: normal;
    color: black;
}

.mainpage{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    padding-top:2em;
}

.stmt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

ion-list{
    width: 100%;
    background-color: transparent;
}

.question {
    --background: transparent;
    margin: 1.5em;
}

ion-input {
    --background: transparent;
    border: 2px;
    color: black;
}

ion-select{
    --highlight-color: #810808;
    color: black;
}

::ng-deep ion-input .label-text{
    color: gray;
}

::ng-deep ion-textarea .label-text{
    color: gray;
}

ion-textarea {
    --highlight-color: #810808;
    border: 2px;
    color: black;
}

ion-textarea, ion-input, ion-select{
    background-color: rgb(247, 240, 240);
}

/* Style label when input is focused */
ion-input.has-focus  {
    --highlight-color: #810808;
}

/* Style select when input is focused */
ion-select.has-focus  {
    --highlight-color: #810808;
}

/* Style textarea when input is focused */
ion-textarea.has-focus  {
    --highlight-color: #810808;
}

ion-input[type=date]{
    color-scheme: black; //for calendar icon
}

ion-input[type=time]{
    color-scheme: black; //for clock icon
}

.submit-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-button{
    width: 40%;
    padding-bottom: 2em;
    --background: transparent;
    --border-color: #810808;
    --border-width: 1px;
    --border-style: solid;
    --color: black;
    --background-activated: #d39d9d;
}