.header-toolbar{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.toolbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
  
.back-button{
    font-weight: normal;
}
    
.title{
    font-size: 22px;
    font-weight: normal;
}

.mainpage{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    padding-top:2em;
}

.stmt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

ion-list{
    width: 100%;
    background-color: transparent;
}

.question {
    margin: 1.5em;
}

ion-input {
    border: 2px;
}

ion-icon{
    font-size: 22px;
}

ion-select{
    --highlight-color: #810808;
}

ion-textarea {
    --highlight-color: #810808;
    border: 2px;
}

ion-input.has-focus  {
    --highlight-color: #810808;

    ion-icon{
        color: #810808;
    }
}

ion-select.has-focus  {
    --highlight-color: #810808;
}

ion-textarea.has-focus  {
    --highlight-color: #810808;

    ion-icon{
        color: #810808;
    }
}

.submit-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-button{
    width: 40%;
    padding-bottom: 2em;
    --border-color: #810808;
    --background-activated: #810808;
    --color-activated: white;
}