<ion-content class="gradient-background">

  <div class="container">
    <p class="hello"> Hello, </p>
    <p class="name"> Joe Wehbe </p>
  </div>

  <div class="body">
    <div class="stmts">
      <p class="stmt1"> Admins denied your request </p>
      <p class="stmt2"> If you're in the emergency unit, <br>
        try contacting a board member <br> for further assistance </p>
    </div>

    <div class="img-container">
      <ion-img src="assets/img/rejected-illustration.png"></ion-img>
    </div>

  </div>


</ion-content>