<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Medical FAQs</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="stmt">
    <p class="section">Patient Assessment</p>
    <p class="second-stmt">Click on a card to delete it</p>
  </div>
  <div class="cards-container">
    <ion-card *ngFor = "let faq of medical_faqs" (click)="deleteAlert(faq.id)">
      <div class="question-container">
        <p class="question">{{faq.question}}</p>
      </div>
      <div class="answer-container">
        <p class="answer">{{faq.answer}}
        </p>
      </div>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-faq">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal id="add-faq-modal" #modal trigger="add-faq">
    <ng-template>
      <form #faqForm="ngForm">
        <div class="wrapper">
          <p class="statement"> Add useful medical FAQ </p>
          <div class="modal-question-container">
            <ion-text>Write a frequently asked question</ion-text>
            <ion-textarea [autoGrow]="true" placeholder="Question..." name="faqQuestion"  [(ngModel)] ="question" required>
              <ion-icon class="modal-icon" name="help-circle-outline" slot="start"></ion-icon>
            </ion-textarea>
          </div>
          <div class="modal-answer-container">
            <ion-text>Write a detailed answer</ion-text>
            <ion-textarea [autoGrow]="true" placeholder="Answer..." name="faqAnswer"  [(ngModel)] ="answer" required>
              <ion-icon class="modal-icon" name="information-circle-outline" slot="start"></ion-icon>
            </ion-textarea>
          </div>
          <div class="buttons-container">
            <ion-button class="cancel-button" fill="outline" (click)="dismiss()">Cancel</ion-button>
            <ion-button class="add-button" fill="outline" (click)="addFaq()" [disabled]="faqForm.invalid">Add</ion-button>
          </div>
        </div>
      </form>
    </ng-template>
  </ion-modal>  
</ion-content>