<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="custom-button" expand="block"><ion-icon name="chevron-back-outline" slot="start"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Medical FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-background">

  <div id="container">
    <strong class="capitalize">Patient Assessment</strong>
    <p>Nothing to show here! Medics have not yet added any FAQ</p>
    <div class="centered-container">

      <img alt="No Requests" src="assets/imgs/Medical consultation.png" />
   
    </div>
  </div>

 
 

</ion-content>
