ion-title{
    color: #000;
  
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  .gradient-background{
    --ion-background-color:#FFEDED;
    --ion-background-color: linear-gradient(to bottom, #FFEDED 75%, #DB7575);
  
  }

  ion-toolbar {
    --background:#FFEDED;
  }

  .custom-button{
    --color: gray;
  }

  
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    padding-bottom: 50px;
    
  }
  
  .capitalize{
    color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 50px;
  }

  
  
  
  
  
  #container strong {
    padding-top: 50px;
    font-size: 20px;
    line-height: 26px;
    color: #000;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  }
  
  #container p {
  
    color: #837272;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 40px;
  }
  
  .custom-subtitle {
    margin-bottom: 0; 
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: 'Cairo', sans-serif;
  }
  


  ion-item::part(native) {
    background: white;
    color: black;
    border-radius: 20px;
    width:100%;

  }

 

  .centered-container ion-item {
    width: 90%; 
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-label{
    color: #000;

text-align: center;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  h3 {
    color: #837272;

font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .custom-item {
    position: relative; 
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    ion-label {
      position: relative; 
      z-index: 1; 
    }
  
    &::before {
      content: "";
      background-color: #ccc; 
      position: absolute;
      top: 0;
      left: 0;
      width: 30px; 
      height: 100%;
      z-index: 2; 
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  ion-button.accept {
    --background: #08811B;
    color: #fff; 
  }
  
  ion-button.reject {
    --background: #810808; 
    -color: #fff; 
  }