<ion-header id="main-content">

  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Phone Extensions</ion-title>
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>

<ion-content class="gradient-background">

  <ion-searchbar placeholder="Search name..."></ion-searchbar>

  <div class="mainpage">

    <div class="list">
      <ion-list>
        <ion-list-header id="letter_A">A</ion-list-header>

        <ion-item>
          <span class="first-name">Acdef</span> <span class="space"></span> <span class="family-name">Hijk</span>
          <ion-note slot="end">Ext: 1249</ion-note>
        </ion-item>

        <ion-list-header id="letter_B">B</ion-list-header>
        <ion-item>
          <span class="first-name">Brian</span> <span class="space"></span> <span class="family-name">Smith</span>
          <ion-note slot="end">Ext: 1250</ion-note>
        </ion-item>
        <ion-item>
          <span class="first-name">Bethany</span> <span class="space"></span><span
            class="family-name">Smith</span>Johnson
          <ion-note slot="end">Ext: 1251</ion-note>
        </ion-item>

        <ion-item>
          <span class="first-name">Bradley</span> <span class="space"></span><span class="family-name">Cooper</span>
          <ion-note slot="end">Ext: 1252</ion-note>
        </ion-item>

        <ion-list-header id="letter_C">C</ion-list-header>
        <ion-item>
          <span class="first-name">Caroline </span><span class="space"></span><span class="family-name">Lee</span>
          <ion-note slot="end">Ext: 1253</ion-note>
        </ion-item>
        <ion-item>
          <span class="first-name">Christopher</span> <span class="space"></span> <span class="family-name">Walker</span>
          <ion-note slot="end">Ext: 1254</ion-note>
        </ion-item>
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>    
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>    
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  

        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
        <ion-item>
          <span class="first-name">Cjin</span> <span class="space"></span> <span class="family-name">Hoggins</span>
          <ion-note slot="end">Ext: 1255</ion-note>
        </ion-item>  
      </ion-list>
    </div>

    <div class="vertical-bar">
      <ul>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_A')">A</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_B')">B</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_C')">C</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_D')">D</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_E')">E</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_F')">F</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_G')">G</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_H')">H</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_I')">I</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_J')">J</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_K')">K</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_L')">L</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_M')">M</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_N')">N</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_O')">O</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_P')">P</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_Q')">Q</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_R')">R</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_S')">S</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_T')">T</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_U')">U</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_V')">V</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_W')">W</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_X')">X</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_Y')">Y</a></li>
        <li><a href="javascript:void(0)" (click)="scrollTo('letter_Z')">Z</a></li>
      </ul>
    </div>
  </div>
</ion-content>