.header-toolbar{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.back-button{
  font-weight: normal;
}
  
.title{
  font-size: 22px;
  font-weight: normal;
}

.stmt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  font-size: 18px;
  font-weight: bold;
}

.second-stmt{
  margin-top: -1em;
  font-size: 14px;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-card{
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 7em;
  margin: 7px;
}

.first-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 100%;
  background-color: #838383;
  color: white;
  padding: 5px;
}

.date, .time{
  margin: 0;
}

.second-block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  padding: 20px;
}

.name{
  margin: 0;
  font-size: 17px;
}

.email-container, .id-container, .number-container, .major-container{
  display: flex;
  align-items: center;
}

.email, .id, .number, .major{
  margin: 0;
  padding-left: 5px;
}

.third-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
  padding-right: 10px;
}

.accept-icon{
  font-size: 30px;
  color: green;
}

.reject-icon{
  font-size: 30px;
  color: red;
}

.accept-icon:active, .reject-icon:active{
  animation: pulse 0.1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5em;
  padding: 10px;
}

.stmt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  font-size: 18px;
  font-weight: bold;
}

.second-stmt{
  margin-top: -1em;
  font-size: 14px;
  text-align: center;
}

.no-emergencies-img{
  width: 80%;
}

.no-results{
  font-style: italic;
}

