<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Manage Extensions</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-extension">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal id="add-extension-modal" #modal trigger="add-extension">
    <ng-template>
      <form #extensionForm="ngForm">
        <div class="wrapper">
          <p class="statement"> Add useful extensions </p>
          <div class="modal-name-container">
            <ion-text> Write the name of the extension</ion-text>
            <ion-input placeholder="Name..." name="extensionName" [(ngModel)] ="name" required></ion-input>
          </div>
          <div class="modal-number-container">
            <ion-text>Write the extension number</ion-text>
            <ion-input type="number" placeholder="Number..." name="extensionNumber" [(ngModel)] ="number" required></ion-input>
          </div>
          <div class="buttons-container">
            <ion-button class="cancel-button" fill="outline" (click)="dismiss()">Cancel</ion-button>
            <ion-button class="add-button" fill="outline" (click)="addExtension()" [disabled]="extensionForm.invalid">Add</ion-button>
          </div>
        </div>
      </form>
    </ng-template>
  </ion-modal> 

  <div class="search-bar-container">
    <ion-searchbar mode="md" class="search-bar" [debounce]="800" placeholder="Search a name..." (ionInput)="handleInput($event)"></ion-searchbar>
  </div>

  <ng-container *ngIf="allExtensions.length > 0">
    <div class="lists-container">
      <ng-container *ngIf="filteredGroupedExtensions.length > 0">
        <ng-container *ngFor="let group of filteredGroupedExtensions">
          <ion-list *ngIf="group.extensions.length > 0">
            <ion-list-header [id]="'header-' + group.letter">{{ group.letter }}</ion-list-header>
            <ion-card>
              <ion-item lines="full" *ngFor="let extension of group.extensions" (click)="deleteAlert(extension.id)">
                <span class="first-name">{{ extension.name }}</span>
                <ion-text slot="end">{{ extension.number }}</ion-text>
              </ion-item>
            </ion-card>
          </ion-list>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="filteredGroupedExtensions.length == 0">
        <div class="body">
            <p class="no-results">No extensions found</p>
        </div>
      </ng-container>
    </div>  
  </ng-container>
  <ng-container *ngIf="allExtensions.length == 0">
    <ng-container *ngIf="isLoading">
      <div class="body">
        <ion-spinner name="crescent"></ion-spinner>
      </div> 
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <div class="body">
        <div class="stmt">
          <p>No extensions </p>
          <p class="second-stmt">Phone extensions will appear here</p>
          <ion-img class="no-emergencies-img" src="assets/img/no-emergencies-img.png"></ion-img>
        </div>
      </div>  
    </ng-container>
  </ng-container>
</ion-content>