<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Manage Extensions</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="search-bar-container">
    <ion-searchbar mode="md" class="search-bar" [debounce]="800" placeholder="Search a name..." (ionInput)="handleInput($event)"></ion-searchbar>
  </div>

  <div class="lists-container">
    <ng-container *ngFor="let group of filteredGroupedUsers">
        <ion-list *ngIf="group.users.length > 0">
          <ion-list-header [id]="'header-' + group.letter">{{ group.letter }}</ion-list-header>
          <ion-card>
            <ion-item lines="full" *ngFor="let user of group.users" (click)="deleteAlert(user.id)">
              <span class="first-name">{{ user.name }}</span>
              <ion-text slot="end">{{ user.extension }}</ion-text>
            </ion-item>
          </ion-card>
        </ion-list>
    </ng-container>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-extension">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal id="add-extension-modal" #modal trigger="add-extension">
    <ng-template>
      <form #extensionForm="ngForm">
        <div class="wrapper">
          <p class="statement"> Add useful extensions </p>
  
          <div class="modal-name-container">
            <ion-text> Write the name of the extension</ion-text>
            <ion-input placeholder="Name..." name="extensionName" [(ngModel)] ="name" required></ion-input>
          </div>
  
          <div class="modal-number-container">
            <ion-text>Write the extension number</ion-text>
            <ion-input type="number" placeholder="Number..." name="extensionNumber" [(ngModel)] ="number" required></ion-input>
          </div>
  
          <div class="buttons-container">
            <ion-button class="cancel-button" fill="outline" (click)="dismiss()">Cancel</ion-button>
            <ion-button class="add-button" fill="outline" (click)="add()" [disabled]="extensionForm.invalid">Add</ion-button>
          </div>
        </div>
      </form>
    </ng-template>
  </ion-modal>  
    
</ion-content>