.header-toolbar{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.back-button{
  font-weight: normal;
}
  
.title{
  font-size: 22px;
  font-weight: normal;
}

.search-bar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

.search-bar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2em;
}

ion-searchbar.search-bar {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px;
  border-radius: 20px;
  --background: transparent; 
  --box-shadow: none;
}

.lists-container{
  margin-left: 10px;
  margin-right: 2em;  
  margin-bottom: 5em;
}

ion-list {
  --ion-item-background: transparent;

}

ion-list-header {
  font-weight: bold;
}

ion-card{
  margin: 0;
}

ion-item:active {
  opacity: 0.2;
}

.vertical-bar {
  position: fixed;
  top: 53%;
  right: 0;
  transform: translateY(-50%);
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  width: 50px;
}

ul {
  list-style-type: none;
}

li {
  font-size: 15px;
  padding-bottom: 4px;
}

ion-fab-button {
  --background: #810808;
  --color: white;
  --background-activated: #380404;
  margin: 5px;
}

ion-modal#add-extension-modal {
  --width: 90%;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#add-extension-modal .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.statement{
  font-weight: bold;
  font-size: 18px;
}

.modal-name-container, .modal-number-container{
  padding: 10px;
  width: 100%;
}

ion-input{
  border: 1px solid gray;
  border-radius: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
}

.modal-icon{
  font-size: 30px;
  color: #810808;
  padding-left: 10px;
}

.buttons-container{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.add-button{
  --border-color: #810808;
  --background-activated: #810808;
  --color-activated: white;
  width: 50%;
}

.cancel-button{
  --background-activated: #810808;
  --color-activated: white;
  width: 50%;
}