<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="custom-button" expand="block"><ion-icon name="chevron-back-outline" slot="start"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Manage Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-background">

  <div id="container">
   
    <ion-searchbar [debounce]="500" color="light" placeholder="Search name..."></ion-searchbar>
  
    <ion-list>
      <ng-container>
        <ion-item-group class="custom-item-group">
          <ion-item-divider class="custom-item-divider">
            On Shift (3)
          </ion-item-divider>
          <ion-row class="card-row">
            <ion-col size="3" class="custom-card-col">
              <ion-card class="custom-card">
                <ion-card-content class="custom-content">
                  <ion-avatar class="custom-avatar">
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar Image">
                  </ion-avatar>
                  
                  <ion-card-title class="custom-name">Roula Test</ion-card-title>
                  <ion-card-title class="custom-position">Board Member</ion-card-title>
                </ion-card-content>
              
                <div class="custom-grey-band"></div>
              </ion-card>
            </ion-col>
            <ion-col size="3" class="custom-card-col">
              <ion-card class="custom-card">
                <ion-card-content class="custom-content">
                  
                  <ion-avatar class="custom-avatar">
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar Image">
                  </ion-avatar>
                  
                  <ion-card-title class="custom-name">Roula Test</ion-card-title>
                  <ion-card-title class="custom-position">Board Member</ion-card-title>
                </ion-card-content>
              
                <div class="custom-grey-band"></div>
              </ion-card>
            </ion-col>
           
          </ion-row>
        </ion-item-group>

        <ion-item-group class="custom-item-group">
          <ion-item-divider class="custom-item-divider">
            Medics (2)
          </ion-item-divider>
          <ion-row class="card-row">
            <ion-col size="3" class="custom-card-col">
              <ion-card class="custom-card">
                <ion-card-content class="custom-content">
                  <ion-avatar class="custom-avatar">
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar Image">
                  </ion-avatar>
                  
                  <ion-card-title class="custom-name">Roula Test</ion-card-title>
                  <ion-card-title class="custom-position">Board Member</ion-card-title>
                </ion-card-content>
              
                <div class="custom-grey-band"></div>
              </ion-card>
            </ion-col>
            <ion-col size="3" class="custom-card-col">
              <ion-card class="custom-card">
                <ion-card-content class="custom-content">
                  
                  <ion-avatar class="custom-avatar">
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar Image">
                  </ion-avatar>
                  
                  <ion-card-title class="custom-name">Roula Test</ion-card-title>
                  <ion-card-title class="custom-position">Board Member</ion-card-title>
                </ion-card-content>
              
                <div class="custom-grey-band"></div>
              </ion-card>
            </ion-col>
           
          </ion-row>
        </ion-item-group>

        <ion-item-group class="custom-item-group">
          <ion-item-divider class="custom-item-divider">
            All Members (42)
          </ion-item-divider>
          <ion-item-divider class="custom-item-divider">
            A
          </ion-item-divider>
        </ion-item-group>
      </ng-container>
    </ion-list>
  
  </div>

 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-custom-dialog"  >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <h1>Add Member?</h1>
        <p>Enter the member’s LAU email, they will be able to login as an ERU member.</p>
       
      
          <ion-input placeholder="LAU Email..."  class="custom-input"></ion-input>
    
        <ion-button fill="outline" class="cancel" shape="round" (click) = "cancel()">Cancel</ion-button> <ion-button class="add" shape="round">Add</ion-button>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>
