.container{
    display: flex;
    flex-direction: column;
    margin: 32px;
}

.hello{
    color: #837272;
    font-size: 20px;
}

.name{
    color: black;
    font-size: 24px;
    margin-top: -0.6em;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.stmts{
    text-align: center;
}

.stmt1{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.stmt2{
    color: #837272;
    font-size: 16px;
    margin-top: 2em;
}

.img-container{
    width: 200px;
}