<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Emergency Records</ion-title>
    <ion-icon class="calendar-button" name="calendar-outline" id="select-time"></ion-icon>
    </div>
  </ion-toolbar>

  <ion-modal mode="ios" id="select-time-modal" #modal trigger="select-time">
    <ng-template>
      <div class="wrapper">
        <div class="stmt">
          <p class="section">Please select a time frame</p>
        </div> 
        <ion-radio-group mode="md" [(ngModel)]="selectedOption">
          <ion-radio value="all-time" labelPlacement="end">
            All time
          </ion-radio><br><br>
          <ion-radio value="this-month" labelPlacement="end">
            This month
          </ion-radio>
          <ion-radio value="select-time" labelPlacement="end">
            <div class="time-frame-container">
              <p class="from">From</p>
              <ion-datetime-button datetime="from-date"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime mode="ios"[showDefaultTitle]="true" [showDefaultButtons]="true" presentation="month-year" id="from-date">
                    <span slot="title">Select starting month</span>
                  </ion-datetime> 
                </ng-template>
              </ion-modal>
              <p class="to">to</p>
              <ion-datetime-button datetime="to-date"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime mode="ios" [showDefaultTitle]="true" [showDefaultButtons]="true" presentation="month-year" id="to-date">
                    <span slot="title">Select ending month</span>
                  </ion-datetime> 
                </ng-template>
              </ion-modal>
            </div>
          </ion-radio>
        </ion-radio-group>
        <div class="buttons-container">
          <ion-button class="cancel-button" fill="outline" (click)="dismiss()">Cancel</ion-button>
          <ion-button class="fetch-button" fill="outline" (click)="fetch()">View records</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-header>

<ion-content class="background">
  <div class="search-bar-container">
    <ion-searchbar mode="md" #searchBar class="search-bar" [debounce]="800" placeholder="Search name, date, location..." (ionInput)="search($event)"></ion-searchbar>
  </div>
  <div *ngFor="let date of Object.keys(groupedEmergencies)">
    <ion-list-header lines="inset">
      <p class="date">{{ date }}</p>
    </ion-list-header>
    <ion-card *ngFor="let emergency of groupedEmergencies[date]" class="ongoing-card" (click)="openModal(emergency)">
      <div class="first-box">
        {{ emergency.time }}
      </div>
      <div class="second-box">
        <div class="location-container">
          <p class="location">{{ emergency.location }}</p>
        </div>
        <div class="description-container">
          <p class="description">{{ emergency.reporterDescription }}</p>
        </div>
      </div>
      <div class="seperator"></div>
      <div class="third-box">
        <div class="medic">
          <p>Medic:</p>
          <p class="medic-name-green">{{ emergency.medicName || 'N/A' }}</p>
        </div>
        <ng-container *ngIf="emergency.patientName !== null; else noPatientName">
          <div class="patient">
            <p>Patient:</p>
            <p class="patient-name-green">{{ emergency.patientName }}</p>
          </div>
        </ng-container>
        <ng-template #noPatientName>
          <div class="patient">
            <p>Patient:</p>
            <p class="patient-name-red">N/A</p>
          </div>
        </ng-template>
        <div class="vitals">
          <div class="heart-rate">
            <ion-img src="assets/icon/hr.png"></ion-img>
            <p class="hr">{{ emergency.heartRate || 'N/A'}}</p>
          </div>        
          <div class="blood-pressure">
            <ion-img src="assets/icon/bp.png"></ion-img>
            <p class="bp">{{ emergency.bloodPressure  || 'N/A' }}</p>
          </div>        
          <div class="spo2">
            <ion-img src="assets/icon/spo2.png"></ion-img>
            <p class="sp">{{ emergency.oxygenSaturation || 'N/A' }}</p>
          </div>
          <div class="temperature">
            <ion-img src="assets/icon/temp.png"></ion-img>
            <p class="temp">{{ emergency.temperature || 'N/A' }}</p>
          </div>     
          <div class="respiration-rate">
            <ion-img src="assets/icon/rr.png"></ion-img>
            <p class="rr">{{ emergency.respirationRate || 'N/A' }}</p>
          </div>
          <div class="capillary-refill">
            <ion-img src="assets/icon/crt.png"></ion-img> 
            <p class="crt">{{ emergency.capillaryRefill || 'N/A' }}</p>
          </div> 
          <div class="hemo-gluco-test">
            <ion-img src="assets/icon/hgt.png"></ion-img>
            <p class="hgt">{{ emergency.hemoglucotest || 'N/A' }}</p>
          </div>
          <div class="pupils-reaction">
            <ion-img src="assets/icon/pr.png"></ion-img> 
            <p class="pr">{{ emergency.pupilsReaction || 'N/A' }}</p>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
  <div *ngIf="Object.keys(groupedEmergencies).length === 0 && !searchBar.value">
    <ng-container *ngIf="isLoading">
      <div class="body">
        <ion-spinner name="crescent"></ion-spinner>
      </div> 
    </ng-container>
    <ng-container *ngIf="!isLoading">
      <div class="body" *ngIf="Object.keys(groupedEmergencies).length === 0 && selectedOption !== 'select-time'">
        <div class="stmt">
          <p>No records at the moment</p>
          <p class="second-stmt">Emergencies history will appear here</p>
          <ion-img class="no-emergencies-img" src="assets/img/no-emergencies-img.png"></ion-img>
        </div>
      </div>
      <div class="body" *ngIf="Object.keys(groupedEmergencies).length === 0 && selectedOption === 'select-time'">
        <p class="no-results">No emergencies found</p>
      </div>
    </ng-container>   
  </div>
  <div *ngIf="Object.keys(groupedEmergencies).length === 0 && searchBar.value">
    <div class="body">
      <p class="no-results">No emergencies found</p>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="download-records" (click)="downloadEmergencyRecords()">
      <ion-icon class="download-icon" name="download-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
  <ion-modal #detailsModal id="details-modal">
    <ng-template>
      <div class="wrapper">
        <ion-header>
          <ion-toolbar class="modal-header">
            <ion-buttons slot="start">
              <ion-button color="danger" class="delete-button" (click)="deleteEmergency()">Delete</ion-button>
            </ion-buttons>
            <ion-title>Emergency Details</ion-title>
            <ion-buttons slot="end">
              <ion-button class="close-button" (click)="detailsModal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-accordion-group mode="ios" [multiple]="true" [value]="['first', 'second']">
          <ion-accordion value="first" >
            <ion-item slot="header" class="first-item">
              <p class="statement">Case Report</p>
            </ion-item>
            <div class="container" slot="content">
              <div class="emergency-info">
                <ion-list>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="calendar-number-outline"></ion-icon>
                      <p class="question">Date of incident</p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.date || 'N/A' }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="time-outline"></ion-icon>
                      <p class="question">Time  of incident </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.time }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="people-outline"></ion-icon>
                      <p class="question">Medic on site </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.medicName || 'N/A' }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="body-outline"></ion-icon>
                      <p class="question">Patient's name </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.patientName || 'N/A'}}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="location-outline"></ion-icon>
                      <p class="question">Location of incident </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.location || 'N/A' }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="pulse-outline"></ion-icon>
                      <p class="question">Patient's condition </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.patientCondition || 'N/A' }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="document-text-outline"></ion-icon>
                      <p class="question">History</p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.history || 'N/A' }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="medkit-outline"></ion-icon>
                      <p class="question">Medication/Treatment administered by </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.treatmentAdministration || 'N/A' }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="car-outline"></ion-icon>
                      <p class="question">Transportation requested to </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.transportation || 'N/A' }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="chatbubbles-outline"></ion-icon>
                      <p class="question">Consultation done with nurse </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.consultation || 'N/A'}}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="bandage-outline"></ion-icon>
                      <p class="question">Material/Equipment used (if any) </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.equipment || 'N/A' }}</p>
                    </div>
                  </div>
                  <div class="info-container">
                    <div class="info-type">
                      <ion-icon class="modal-icon" name="warning-outline"></ion-icon>
                      <p class="question">Issues encountered by the dispatch team </p>
                    </div>
                    <div class="info-answer">
                      <p class="answer">{{ selectedEmergency.issues || 'N/A' }}</p>
                    </div>
                  </div>
                </ion-list> 
              </div>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header">
              <p class="statement">Vitals Records</p>
            </ion-item>
            <div class="assessments-container" slot="content">
              <div class="assessment">
                <ng-container *ngIf="assessments.length > 0">
                  <div *ngFor="let assessment of assessments; let i = index">
                    <div class="header">
                      <p class="assessment-number">Assessment {{i + 1}}</p>
                      <p class="assessment-time">{{ assessment.created_at | date: 'hh:mm'}}</p>
                    </div>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <div class="heart-rate">
                              <ion-img src="assets/icon/hr.png"></ion-img>
                              <p class="hr">{{ assessment.heart_rate ? assessment.heart_rate || 'N/A' : 'N/A' }}</p>
                            </div>
                          </td>              
                          <td>
                            <div class="blood-pressure">
                              <ion-img src="assets/icon/bp.png"></ion-img>
                              <div class="bp">
                                <p class="blood-press">{{ assessment.blood_pressure ? assessment.blood_pressure || 'N/A' : 'N/A' }}</p>
                              </div>
                            </div>    
                          </td>
                          <td>
                            <div class="spo2">
                              <ion-img src="assets/icon/spo2.png"></ion-img>
                              <p class="sp">{{ assessment.oxygen_saturation ? assessment.oxygen_saturation || 'N/A' : 'N/A' }}</p>
                            </div>
                          </td>                    
                          <td>
                            <div class="temperature">
                              <ion-img src="assets/icon/temp.png"></ion-img>
                              <p class="temp">{{ assessment.temperature ? assessment.temperature || 'N/A' : 'N/A' }}</p>
                            </div>      
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="respiration-rate">
                              <ion-img src="assets/icon/rr.png"></ion-img>
                              <p class="rr">{{ assessment.respiration_rate ? assessment.respiration_rate || 'N/A' : 'N/A' }}</p>
                            </div>  
                          </td>
                          <td>
                            <div class="capillary-refill">
                              <ion-img src="assets/icon/crt.png"></ion-img> 
                              <p class="crt">{{ assessment.capillary_refill_time ? assessment.capillary_refill_time || 'N/A' : 'N/A' }}</p>
                            </div> 
                          </td>                
                          <td>
                            <div class="hemo-gluco-test">
                              <ion-img src="assets/icon/hgt.png"></ion-img>
                              <p class="hgt">{{ assessment.hemoglucotest ? assessment.hemoglucotest || 'N/A' : 'N/A' }}</p>
                            </div>
                          </td>
                          <td>    
                            <div class="pupils-reaction">
                              <ion-img src="assets/icon/pr.png"></ion-img> 
                              <p class="pr">{{ assessment.pupils_reaction ? assessment.pupils_reaction || 'N/A' : 'N/A' }}</p>
                            </div> 
                          </td> 
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
                <ng-container *ngIf="assessments.length === 0">
                  <div class="no-assessments-container">
                    <h6>
                      No vital records available for this emergency
                    </h6>
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>