<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button class="custom-button" expand="block"><ion-icon name="chevron-back-outline" slot="start"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title> Your Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-background">
  <div id="container">

    <ion-card class="card-container">
      <!-- Your card content goes here -->
    </ion-card>

  </div>

 
</ion-content>

