.toolbar {
  height: 60px;
  --background: #ffeded;
}

ion-menu-button {
  color: black;
  font-weight: normal;
  margin-top: 12px;
}

.title {
  font-size: 22px;
  color: black;
  font-weight: normal;
  margin-top: 7px;
}

.stmt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.second-stmt{
  text-align: center;
  width: 80%;
  margin-top: -1em;
  color: #837272;
  font-size: 14px;
}

ion-card {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  height: 7em;
  margin: 1em;
}

ion-card:active {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  height: 7em;
  animation: pulse 0.1s ease-in-out;
}

.gray-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
  background-color: #d9d9d9;
  color: white;
}

.second-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 32%;
  padding-top: 5px;
}

.profile-picture {
  margin: 15px 10px;
  height: 70px;
  width: 70px;
}

.location {
  color: black;
  font-size: 15px;
}

.third-box {
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  justify-content: space-between;
  width: 60%;
  height: 100%;
  padding-top: 10px;
  margin-left: auto;
}

.name {
  color: black;
  font-size: 17px;
  font-weight: bold;
}

.role {
  color: #837272;
  opacity: 0.8;
  font-size: 12px;
  margin-left: 5px;
  margin-top: -10px;
}

.time {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-top: -8px; 
}

.description-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  width: 100%;
  text-align: center;
  justify-content: flex-start;
}

.icon {
  display: flex;
  margin: auto 0;
  margin-right: 4px
}

.description {
  font-style: italic;
  font-size: 12px;
  margin: auto 0;
  font-weight: bold;
}

.fourth-box {
  display: flex;
  flex-direction: column;
  width: 35%;
}

// .time{
//   font-size: 16px;
//   font-weight: bold;
//   color: black;
//   display: flex;
//   padding-top: auto;
// }

ion-alert{
  --background: white;
}

#open-action-sheet {
  margin-top: 1em;
  height: 2.5em;
  border-radius: 5px;
  background-color: #d9d9d9;
  color: black;
  width: 100%;
}

#open-action-sheet:active {
  margin-top: 1em;
  height: 2.5em;
  border-radius: 5px;
  background-color: #d9d9d9;
  color: black;
  width: 100%;
  animation: pulse 0.1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
