.toolbar {
  height: 60px;
}

ion-menu-button {
  font-weight: normal;
  margin-top: 12px;
}

.title {
  font-size: 22px;
  font-weight: normal;
  margin-top: 7px;
}

.stmt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  font-size: 18px;
  font-weight: bold;
}

.second-stmt{
  text-align: center;
  width: 80%;
  margin-top: -1em;
  font-size: 14px;
}

ion-card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  height: 6em;
  margin: 1em;

}

ion-card:active {
  animation: pulse 0.1s ease-in-out;
}

.first-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  background-color: #838383;
  padding: 5px;
}

.second-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.third-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding-right: 10px;
  margin-right: 0;

}

.name-time-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.name {
  font-size: 17px;
  align-items: flex-start;

}

.time {
  font-size: 16px;
  align-items: flex-end;
  padding-right: 5px;
}

.date{
  padding-right: 3px;
}

.role-container{
  display: flex;
  justify-content: space-between;
}

.role{
  padding-left: 3px;
  font-size: 13px;
}

.description-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 

}

ion-icon{
  font-size: 15px;
  padding-top: 7px;
}

.description {
  font-style: italic;
  font-size: 13px;
  padding-left: 5px;
  padding-top: 7px;
}

.name, .time, .date, .role, .description{
  margin: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
