<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="title">Cover Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="stmt">
    <p>4 Cover Requests</p>
    <p class="second-stmt">The member you cover for will be notified of your acceptance</p>
  </div>

  <ion-card (click)="presentAlert()">

    <div class="first-box">
    </div>

    <div class="second-box">
      <ion-avatar slot="start" class="profile-picture">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>

    <div class="third-box">

        <div class="upper-container">
          <div class="name-time-container">
            <p class="name">Roula Wehbe</p>
            <p class="time">11:00-12:00</p>
          </div>
          <div class="role-container">
            <p class="role">Dispatcher</p>
            <p class="date">20/02/2024</p>
          </div>
        </div>

        <div class="description-container">
          <ion-icon class="icon" name="chatbubble-ellipses-outline"></ion-icon>
          <p class="description">I have an exam</p>
        </div>
    </div>
  </ion-card>
</ion-content>

