<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="title">Cover Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="stmt">
    <p>4 Cover Requests</p>
    <p class="second-stmt">The member you cover for will be notified of your acceptance</p>
  </div>

  <ion-card (click)="presentAlert()">

    <div class="first-box">
    </div>

    <div class="second-box">
      <ion-avatar slot="start" class="profile-picture">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>
    <div *ngFor ="let cover_request of coverRequests" class="cover_requests" id="cover_requests">
      <div class="third-box">
        <div class="upper-container">
          <div class="name-time-container">
            <p class="name">{{cover_request.user.first_name}} {{cover_request.user.last_name}}</p>
            <p class="time">{{cover_request.shift.time_start}} {{cover_request.shift.time_end}}</p>
          </div>

          <div class="role-container">
            <p class="role">{{cover_request.user.rank.rank_name}}</p>
            <p class="date">{{cover_request.shift.day}}</p>
          </div>
        </div>

        <div class="description-container">
          <ion-icon class="icon" name="chatbubble-ellipses-outline"></ion-icon>
          <p class="description">{{cover_request.reason}}</p>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>