<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>

<ion-content class="gradient-background">
  <div class="mainpage">
    <div class="announcements">
      <div class="first-box">
        <ion-avatar slot="start" class="profile-picture">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>

      <div class="second-box">
        <div class="name">
          <h2 class="username">Roula Ghaleb</h2>
          <ion-chip class="ion-chip-critical">critical</ion-chip>
        </div>

        <div class="description-container">
          <p class="description">
            Difficulty and and and and and and and and and and and and and and
            andbreathing and panick attack
          </p>
        </div>

        <div class="time-posted">
          <h3 class="time">1 day ago</h3>
        </div>
      </div>
    </div>

    <div class="announcements">
      <div class="first-box">
        <ion-avatar slot="start" class="profile-picture">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>

      <div class="second-box">
        <div class="name">
          <h2 class="username">Roula Ghaleb</h2>
          <ion-chip class="ion-chip-important">important</ion-chip>
        </div>

        <div class="description-container">
          <p class="description">
            Difficulty and and and and and and and and and and and and and and
            andbreathing and panick attack
          </p>
        </div>

        <div class="time-posted">
          <h3 class="time">1 day ago</h3>
        </div>
      </div>
    </div>

    <div class="announcements">
      <div class="first-box">
        <ion-avatar slot="start" class="profile-picture">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>

      <div class="second-box">
        <div class="name">
          <h2 class="username">Roula Ghaleb</h2>
          <ion-chip class="ion-chip-regular">regular</ion-chip>
        </div>

        <div class="description-container">
          <p class="description">
            Difficulty and and and and and and and and and and and and and and
            andbreathing and panick attack
          </p>
        </div>

        <div class="time-posted">
          <h3 class="time">1 day ago</h3>
        </div>
      </div>
    </div>

  </div>
</ion-content>