<ion-header id="main-content">

  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>

<ion-content class="gradient-background">

  <div class = "mainpage">
    <!-- this is the flex column for each announcement -->
    <div class = "announcement-box">
      <!-- this is the flex row of the avatar -->
      <div class = "profile-picture">
        <!-- this is the flex row of the name, importance, and text announcement -->
        <div class = "text-row">
          <!-- this is the flex row of the name -->
          <div class = "name">
            <!-- this is the flex row of the importance badge -->
            <div class = "importance">
              <!-- this is the flex column of the text message -->
              <div class = "announcement-text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>