<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="title">Cover Requests</ion-title>
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>

<ion-content class="background">

  <div class="stmt">
    <p>4 Cover Requests</p>
  </div>

  <div class="second-stmt">
    <p>The member you cover for will be notified of your acceptance</p>
  </div>

  <ion-card (click)="presentAlert()">
    <div class="gray-box">
    </div>
    <div class="second-box">
      <ion-avatar slot="start" class="profile-picture">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>
    <div class="third-box">
      <div class="name">
        Roula Wehbe
      </div>
      <div class="role">
        Dispatcher
      </div>
      <div class="description-container">
        <div>
          <ion-icon class="icon" name="chatbubble-ellipses-outline"></ion-icon>
        </div>
        <div class="description">
          <p>I have an exam</p>
        </div>
      </div>
    </div>
    <div class="fourth-box">
      <div class="time">
        <p>11:00-12:00</p>
      </div>
      
    </div>
  </ion-card>

  <ion-card (click)="presentAlert()">
    <div class="gray-box">
    </div>
    <div class="second-box">
      <ion-avatar slot="start" class="profile-picture">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>
    <div class="third-box">
      <div class="name">
        Roula Roukaibe
      </div>
      <div class="role">
        Dispatcher
      </div>
      <div class="description-container">
        <div>
          <ion-icon class="icon" name="chatbubble-ellipses-outline"></ion-icon>
        </div>
        <div class="description">
          <p>I have an exam</p>
        </div>
      </div>
    </div>
    <div class="fourth-box">
      <div class="time">
        <p>11:00-12:00</p>
      </div>
      
    </div>
  </ion-card>
</ion-content>

