<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon id="open-modal" class="info" name="information-circle-outline"></ion-icon>      
    </ion-buttons>

    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">
          <p>
            <ion-icon name="warning-outline"></ion-icon>
            Cases marked in red indicate no medical response.
          </p>
          <p>
            <ion-icon name="warning-outline"></ion-icon>
            When 'Request' is animating, this means that the medic on scene made a request.
          </p>
          <p>
            <ion-icon name="information-circle-outline"></ion-icon>
            The 'Ongoing' tab displays emergencies that are currently occuring.
          </p>
          <p>
            <ion-icon name="information-circle-outline"></ion-icon>
            The 'Ended' tab displays emergencies that ended and do not have a case report filled yet.
          </p>
          <p>
            <ion-icon name="information-circle-outline"></ion-icon>
            The vitals displayed are the latest vitals ones by the medic on scene.
          </p>
        </div>
      </ng-template>
    </ion-modal>

    <ion-title class="title">Standby</ion-title>
  </ion-toolbar>
</ion-header>

<app-menu></app-menu>

<ion-content class="background">

  <div class="segments">
    <ion-segment [(ngModel)]="selectedSegment" value="Ongoing">
      <ion-segment-button value="Ongoing">
        <ion-label>Ongoing (2)</ion-label>
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Ended">
        <ion-label>Ended (4)</ion-label>
        <ion-icon name="shield-checkmark-outline"></ion-icon>   
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <ng-container *ngIf="selectedSegment === 'Ongoing'">
    <ion-card (click)="navigateEmergencyDetails()">
      <div class="first-box-green">
        9:07
      </div>
      <div class="second-box">
        <!-- <div class="location">
          Zakhem 404
        </div> -->
        <div class="description-container">
          <p class="description">Difficulty breathing and panick attack</p>
        </div>
      </div>
      <div class="seperator"></div>
      <div class="third-box">
        <div class="medic">
          <p>Medic:</p>
          <p class="medic-name">Joe Wehbe</p>
        </div>
        <!-- <div class="request">
          <p>Request:</p>
          <p class="request-tool">Wheelchair</p>
        </div> -->
        <div class="vitals">
          <div class="heart-rate">
            <ion-img src="assets/icon/hr.png"></ion-img>
            <p class="hr">120</p>
          </div>        
          <div class="blood-pressure">
            <ion-img src="assets/icon/bp.png"></ion-img>
            <p class="bp">110/92</p>
          </div>        
          <div class="spo2">
            <ion-img src="assets/icon/spo2.png"></ion-img>
            <p class="sp">96</p>
          </div>
          <div class="temperature">
            <ion-img src="assets/icon/temp.png"></ion-img>
            <p class="temp">37.6</p>
          </div>     
          <div class="respiration-rate">
            <ion-img src="assets/icon/rr.png"></ion-img>
            <p class="rr">16</p>
          </div>
          <div class="capillary-refill">
            <ion-img src="assets/icon/crt.png"></ion-img> 
            <p class="crt">2</p>
          </div> 
          <div class="pupils-reaction">
            <ion-img src="assets/icon/pr.png"></ion-img> 
            <p class="pr">N/A</p>
          </div>
          <div class="hemo-gluco-test">
            <ion-img src="assets/icon/hgt.png"></ion-img>
            <p class="hgt">N/A</p>
          </div>
        </div>
      </div>
    </ion-card>
  </ng-container>
  
  <ng-container *ngIf="selectedSegment === 'Ended'">
    <ion-card>
      <div class="first-box-green">
        9:07
      </div>
      <div class="second-box">
        <div class="location">
          Zakhem 404
        </div>
        <div class="description-container">
          <p class="description">Difficulty breathing and panick attack</p>
        </div>
      </div>
      <div class="seperator"></div>
      <div class="third-box">
        <div class="medic">
          <p>Medic:</p>
          <p class="medic-name">Joe Wehbe</p>
        </div>
        <!-- <div class="request">
          <p>Request:</p>
          <p class="request-tool">Wheelchair</p>
        </div> -->
        <div class="options">
          <button id="open-action-sheet">View options</button>
          <ion-action-sheet trigger="open-action-sheet" header="Select" [buttons]="actionSheetButtons"></ion-action-sheet>
        </div>
      </div>
    </ion-card>
  </ng-container>  
</ion-content>

<ion-footer class = "footer">
  <ion-toolbar class="footer-toolbar">
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
