<ion-content class="background">
  <ion-header id="main-content">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">Emergency</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-menu></app-menu>
  <app-tabs></app-tabs>

  <div class="segments">
    <ion-segment [(ngModel)]="selectedSegment" value="Ongoing">
      <ion-segment-button value="Ongoing">
        <ion-label>Ongoing</ion-label>
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Ended">
        <ion-label>Ended</ion-label>
        <ion-icon name="shield-checkmark-outline"></ion-icon>   
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <ng-container *ngIf="selectedSegment === 'Ongoing'">
    <div class="stmt">
      <p>Cases marked in red indicate no medical response!</p>      
    </div>

    <ion-card>
      <div class="first-box">
        9:07
      </div>
      <div class="second-box">
        <div class="location">
          Zakhem 404
        </div>
        <div class="Description">
          Panick attack
        </div>
      </div>
      <div class="seperator"></div>
    </ion-card>
  </ng-container>
  
  <ng-container *ngIf="selectedSegment === 'Ended'">
    <div class="stmt">
      <p>Don't forget to fill the case report form</p>
    </div>
  </ng-container>
  



</ion-content>
