<ion-content class="background">
  <ion-header id="main-content">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">Emergency</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-menu></app-menu>
  <app-tabs></app-tabs>

  <ion-segment value="heart">
    <ion-segment-button value="Ongoing">
      <ion-label>Ongoing</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Ended">
      <ion-label>Ended</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>

  </ion-segment>

</ion-content>
