<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="custom-button" expand="block"><ion-icon name="chevron-back-outline" slot="start"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Your Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-background">
  <ion-header>
    <ion-toolbar class="header-background">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
        </ion-avatar>
        <ion-label>
          <div class="user-info">
            <h2>Joe Wehbe</h2>
            <p>Very Important</p>
          </div>
          <ion-text class="ion-text-wrap">
            Tomorrow meeting at 5 pm in the lounge to discuss shifts and schedules.
          </ion-text>
          <h6>1d ago</h6>
        </ion-label>
        <ion-button id="open-custom-dialog" slot="end" fill="clear">
          <ion-icon  class="trash" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    
      
    </ion-list>

  
  </div>

 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddAnnouncement()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal id="example-modal" #modal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <h1>Are you sure you want to permenantly delete this announcement?</h1>

        <ion-button fill="outline" class="cancel" shape="round">Cancel</ion-button> <ion-button class="delete" shape="round">Delete</ion-button>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>
