.toolbar{
    height: 60px;
}

ion-menu-button{
    font-weight: normal;
    margin-top: 12px;
}

.title{
    font-size: 22px;
    font-weight: normal;
    margin-top: 7px;
}

.mainpage{
    display: flex;
    flex-direction: column;
}
 
.announcement{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
}

.announcement:active{
    opacity: 0.2;
}

.first-box {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture{
    margin: 15px; 
    color: #837272;
    height:70px;
    width: 70px;
}

.second-box {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 100%;

}

.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
  
.username {
    font-weight: bold;
    font-size: 18px;
}

ion-chip{
    font-size: 14px;
    height: 50%;
    text-align: center;
    justify-content: space-between; /* Align items to the space between */
    align-items: flex-end; /* Align items to the end (right) */
    padding-right: 10px;
}

.ion-chip-critical {
    --background: #FF0000;
    --color: white;
}

.ion-chip-important {
    --background: #FF7A00;
    --color: white;
}

.ion-chip-regular {
    --background: #0BC813;
    --color: white;
}

.time-posted{
    margin: 0;
    display: flex;
}

.time{
    opacity: 0.8;
    font-size: 13px;
    font-weight:lighter;
    margin-top: 10px;
}

.description{
    margin: 0;
    opacity: 0.8;
}

ion-modal#modal {
    --width: 96%;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}