<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="mainpage">
    <div *ngFor="let announcement of announcements; let i = index" class="announcement" [id]="'announcement_' + i">
      <div class="first-box">
        <ion-avatar slot="start" class="profile-picture">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>
      <div class="second-box">
        <div class="name">
          <h2 class="username">{{announcement.admin.first_name}} {{announcement.admin.last_name}}</h2>
          <ng-container *ngIf="announcement.importance == 'Very important'">
            <ion-chip color="danger">{{announcement.importance}}</ion-chip>
          </ng-container>
          <ng-container *ngIf="announcement.importance == 'Important'">
            <ion-chip color="warning">{{announcement.importance}}</ion-chip>
          </ng-container>
          <ng-container *ngIf="announcement.importance == 'Regular'">
            <ion-chip color="success">{{announcement.importance}}</ion-chip>
          </ng-container>
        </div>
        <div class="description-container">
          <p class="description">
            {{ truncateDescription(announcement.description, 65) }}
          </p>
        </div>
        <div class="time-posted">
          <h3 class="time">{{ formatDate(announcement.created_at) }}</h3>
        </div>
      </div>

      <ion-modal [id]="'modal_' + i" #modal [trigger]="'announcement_' + i">
        <ng-template>
          <div class="wrapper">
            <div class="announcement">
              <div class="first-box">
                <ion-avatar slot="start" class="profile-picture">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
              </div>
              <div class="second-box">
                <div class="name">
                  <h2 class="username">{{announcement.admin.first_name}} {{announcement.admin.last_name}}</h2>
                  <ng-container *ngIf="announcement.importance == 'Very important'">
                    <ion-chip color="danger">{{announcement.importance}}</ion-chip>
                  </ng-container>
                  <ng-container *ngIf="announcement.importance == 'Important'">
                    <ion-chip color="warning">{{announcement.importance}}</ion-chip>
                  </ng-container>
                  <ng-container *ngIf="announcement.importance == 'Regular'">
                    <ion-chip color="success">{{announcement.importance}}</ion-chip>
                  </ng-container>
                </div>
                <div class="description-container">
                  <p class="description">{{announcement.description}}</p>
                </div>
                <div class="time-posted">
                  <h3 class="time">{{ formatDate(announcement.created_at) }}</h3>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ion-modal>

    </div>
  </div>



</ion-content>