<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()" class="custom-button" expand="block"><ion-icon name="chevron-back-outline" slot="start"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Send Announcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-background">

  <div id="container">
    <strong class="capitalize">Share what you want to say</strong>
    <p>Your announcement will be visible to all members!</p>

    <ion-card>
    
      <ion-card-content>
        <ion-item class="custom-item">
          <ion-icon  class="custom" name="megaphone" slot="start"></ion-icon>
          <ion-input label="Write your Announcement" labelPlacement="stacked" placeholder="Announcement..."  class="custom-input"></ion-input>
        </ion-item>


        <ion-list>
          <ion-item>
            <ion-icon  class="custom" slot="start" name="people"></ion-icon>
            <ion-select aria-label="priviledge" interface="popover" placeholder="Specify who will see it">
              <ion-select-option value="PA">All Members</ion-select-option>
              <ion-select-option value="VS">Board Members</ion-select-option>
              <ion-select-option value="cardio">All Students</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-icon  class="custom" slot="start" name="alert-circle-sharp"></ion-icon>
            <ion-select aria-label="imp" interface="popover" placeholder="Importance level">
              <ion-select-option value="PA">Very Important</ion-select-option>
              <ion-select-option value="VS">Important</ion-select-option>
              <ion-select-option value="cardio">Regular</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
  
      </ion-card-content>

    </ion-card>

  <ion-button class="add" shape="round">Send</ion-button>
  </div>

  


 </ion-content>
