<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Standby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="segments" mode="md">
    <ion-segment [(ngModel)]="selectedSegment" value="Ongoing">
      <ion-segment-button value="Ongoing">
        <ion-label>Ongoing ({{ ongoingEmergencies.length }})</ion-label>
        <ion-icon name="hourglass-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Ended">
        <ion-label>Ended (4)</ion-label>
        <ion-icon name="shield-checkmark-outline"></ion-icon>   
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <ng-container *ngIf="selectedSegment === 'Ongoing'">
    <ng-container *ngIf="ongoingEmergencies.length > 0; else noOngoingEmergencies">
      <ion-card *ngFor="let item of ongoingEmergencies" class="ongoing-card" (click)="navigateEmergencyDetails()">
        <ng-container *ngIf="item.emergency.medic !== null; else noMedicResponded">
          <div class="first-box-green">
            {{ item.emergency.created_at | date: 'h:mm' }}
          </div>
        </ng-container>
        <ng-template #noMedicResponded>
          <div class="first-box-red">
            {{ item.emergency.created_at | date: 'h:mm' }}
          </div>
        </ng-template>
  
        <div class="second-box">
          <div class="location-container">
            <p class="location">{{ item.emergency.location }}</p>
          </div>
          <div class="description-container">
            <p class="description">{{ item.emergency.reporter_description }}</p>
          </div>
        </div>
        <div class="seperator"></div>
  
        <div class="third-box">
          <ng-container *ngIf="item.emergency.medic !== null; else noMedicName">
            <div class="medic">
              <p>Medic:</p>
              <p class="medic-name-green">{{ item.emergency.medic.first_name }} {{ item.emergency.medic.last_name }}</p>
            </div>
          </ng-container>
          <ng-template #noMedicName>
            <div class="medic">
              <p>Medic:</p>
              <p class="medic-name-red">N/A</p>
            </div>
          </ng-template>
          <ng-container *ngIf="item.emergency.patient_name !== null; else noPatientName">
            <div class="patient">
              <p>Patient:</p>
              <p class="patient-name-green">{{ item.emergency.patient_name || 'N/A' }}</p>
            </div>
          </ng-container>
          <ng-template #noPatientName>
            <div class="patient">
              <p>Patient:</p>
              <p class="patient-name-red">N/A</p>
            </div>
          </ng-template>
  
          <div class="vitals">
            <div class="heart-rate">
              <ion-img src="assets/icon/hr.png"></ion-img>
              <p class="hr">{{ item.last_assessment ? item.last_assessment.heart_rate || 'N/A' : 'N/A' }}</p>
            </div>
            <div class="blood-pressure">
              <ion-img src="assets/icon/bp.png"></ion-img>
              <p class="bp">{{ item.last_assessment ? item.last_assessment.blood_pressure || 'N/A' : 'N/A' }}</p>
            </div>
            <div class="spo2">
              <ion-img src="assets/icon/spo2.png"></ion-img>
              <p class="sp">{{ item.last_assessment ? item.last_assessment.oxygen_saturation || 'N/A' : 'N/A' }}</p>
            </div>
            <div class="temperature">
              <ion-img src="assets/icon/temp.png"></ion-img>
              <p class="temp">{{ item.last_assessment ? item.last_assessment.temperature || 'N/A' : 'N/A' }}</p>
            </div>
            <div class="respiration-rate">
              <ion-img src="assets/icon/rr.png"></ion-img>
              <p class="rr">{{ item.last_assessment ? item.last_assessment.respiration_rate || 'N/A' : 'N/A' }}</p>
            </div>
            <div class="capillary-refill">
              <ion-img src="assets/icon/crt.png"></ion-img>
              <p class="crt">{{ item.last_assessment ? item.last_assessment.capillary_refill_time || 'N/A' : 'N/A' }}</p>
            </div>
            <div class="hemo-gluco-test">
              <ion-img src="assets/icon/hgt.png"></ion-img>
              <p class="hgt">{{ item.last_assessment ? item.last_assessment.hemoglucotest || 'N/A' : 'N/A' }}</p>
            </div>
            <div class="pupils-reaction">
              <ion-img src="assets/icon/pr.png"></ion-img>
              <p class="pr">{{ item.last_assessment ? item.last_assessment.pupils_reaction || 'N/A' : 'N/A' }}</p>
            </div>
          </div>

        </div>
      </ion-card>
    </ng-container>
    <ng-template #noOngoingEmergencies>
      <div class="body">
        <div class="stmt">
          <p>No ongoing emergencies</p>
          <p class="second-stmt">Stay alert! Emergencies can happen anytime!</p>
          <ion-img class="no-emergencies-img" src="assets/img/no-emergencies-img.png"></ion-img>
        </div>
      </div>
    </ng-template>
  </ng-container>
  
  
  <ng-container *ngIf="selectedSegment === 'Ended'">
    <ion-card class="ended-card">
      <div class="first-box-green">
        9:07
      </div>
      <div class="second-box">
        <div class="location">
          Zakhem 404
        </div>
        <div class="description-container">
          <p class="description">Difficulty breathing and panick attack</p>
        </div>
      </div>
      <div class="seperator"></div>
      <div class="third-box">
        <div class="medic">
          <p>Medic:</p>
          <p class="medic-name">Joe Wehbe</p>
        </div>
        <div class="patient">
          <p>Patient:</p>
          <p class="patient-name">N/A</p>
        </div>
        <div class="options">
          <button id="open-action-sheet">View options
          </button>
          <ion-action-sheet class="action-sheet" trigger="open-action-sheet" header="Select" [buttons]="actionSheetButtons"></ion-action-sheet>
        </div>
      </div>
    </ion-card>
  </ng-container>  
</ion-content>