<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Emergency Details</ion-title>
      <ion-chip color="danger">
        <ion-label>Ongoing</ion-label>
      </ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="stmt">
    <p>Up-to-date emergency details</p>
  </div>

  <ion-accordion-group [multiple]="true" [value]="['first', 'second', 'third']">
    <ion-accordion value="first">
      <ion-item slot="header" class="first-item">
        <p class="statement">Case Information</p>
      </ion-item>
      <div class="container" slot="content">
        <div class="emergency-info">
          <ion-list>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="person-outline"></ion-icon>
                <p class="type-medic-name">Medic on scene: </p>
              </div>
              <div class="info-answer">
                <p class="medic-name">Joe Wehbe</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="location-outline"></ion-icon>
                <p class="type-location">Location: </p>
              </div>
              <div class="info-answer">
                <p class="location">Zakhem 404</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="document-text-outline"></ion-icon>
                <p class="type-description">Description: </p>
              </div>
              <div class="info-answer">
                <p class="description">Passed out</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="time-outline"></ion-icon>
                <p class="type-time">Reported at: </p>
              </div>
              <div class="info-answer">
                <p class="description">9:10</p>
              </div>
            </div>
          </ion-list> 
        </div>
      </div>
    </ion-accordion>

    <ion-accordion value="second" expanded="true">
      <ion-item slot="header">
        <p class="statement">Patient Information</p>
      </ion-item>
      <div class="container" slot="content">
        <div class="patient-info">
          <ion-list>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="person-outline"></ion-icon>
                <p class="type-patient-name">Patient name: </p>
              </div>
              <div class="info-answer">
                <p class="patient-name">Joe Wehbe</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="card-outline"></ion-icon>
                <p class="type-patient-id">Patient ID: </p>
              </div>
              <div class="info-answer">
                <p class="patient-id">202000908</p>
              </div>
            </div>    
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="heart-circle-outline"></ion-icon>
                <p class="type-case-descritpion">Patient condition: </p>
              </div>
              <div class="info-answer">
                <p class="case-description">Panick attack</p>
              </div>
            </div>
            <div class="info-container">
              <div class="info-type">
                <ion-icon name="warning-outline"></ion-icon>
                <p class="type-case-severity">Case severity: </p>
              </div>
              <div class="info-answer">
                <p class="case-severity">Serious</p>
              </div>
            </div>
          </ion-list> 
        </div>
      </div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header">
        <p class="statement">Vitals Records</p>
      </ion-item>   
      <div class="assessment" slot="content">
        <div class="header">
          <p class="assessment-number">Assessment 1</p>
          <p class="assessment-time">9:15</p>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td [ngClass]="{'highlight': HeartRate > 100 || HeartRate < 60}">
                <div class="heart-rate">
                  <ion-img src="assets/icon/hr.png"></ion-img>
                  <p class="hr">{{ HeartRate }}</p>
                </div>
              </td>              
              <td [ngClass]="{'highlight': Systolic > 150 || Systolic < 90 || Diastolic > 90 || Diastolic < 60}">
                <div class="blood-pressure">
                  <ion-img src="assets/icon/bp.png"></ion-img>
                  <div class="bp">
                    <p class="systolic"> {{ Systolic }}</p>
                    <p class="systolic">/</p>
                    <p class="diastolic">{{ Diastolic }}</p>
                  </div>
                </div>    
              </td>
              <td [ngClass]="{'highlight': BloodSaturation < 95}">
                <div class="spo2">
                  <ion-img src="assets/icon/spo2.png"></ion-img>
                  <p class="sp">{{ BloodSaturation }}</p>
                </div>
              </td>                    
              <td [ngClass]="{'highlight': Temperature < 36.6 || Temperature > 38.3}">
                <div class="temperature">
                  <ion-img src="assets/icon/temp.png"></ion-img>
                  <p class="temp">{{ Temperature }}</p>
                </div>      
              </td>
            </tr>
            <tr>
              <td [ngClass]="{'highlight': RespirationRate > 20 || RespirationRate < 12}">
                <div class="respiration-rate">
                  <ion-img src="assets/icon/rr.png"></ion-img>
                  <p class="rr"> {{ RespirationRate }} </p>
                </div>  
              </td>
              <td [ngClass]="{'highlight': CapillaryRefill > 2}">
                <div class="capillary-refill">
                  <ion-img src="assets/icon/crt.png"></ion-img> 
                  <p class="crt">{{ CapillaryRefill }}</p>
                </div> 
              </td>                
              <td [ngClass]="{'highlight': HemoGlucoTest < 60 || HemoGlucoTest > 120}">
                <div class="hemo-gluco-test">
                  <ion-img src="assets/icon/hgt.png"></ion-img>
                  <p class="hgt">{{ HemoGlucoTest }}</p>
                </div>
              </td>
              <td>    
                <div class="pupils-reaction">
                  <ion-img src="assets/icon/pr.png"></ion-img> 
                  <p class="pr">N/A</p>
                </div> 
              </td> 
            </tr>
          </tbody>
        </table>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar class="footer-toolbar">
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
