.header-toolbar{
  height: 60px;
  --background: #FFEDED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.back-button{
  font-weight: normal;
  color: black;
}
  
.title{
  font-size: 22px;
  font-weight: normal;
  color: black;
}

ion-chip{
  background-color: #e9dede;
}

.stmt{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.case-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2em;
  padding-bottom: 1em;
  margin: 0 auto;
  color: black;
}

.emergency-status{
  padding: 10px;
  font-size: 18px;
  color: #D42B2B;
}

ion-accordion-group{
  padding: 10px;
}

ion-item{
  --background: #e9dede;
  color: black;
}

.first-item{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2em;
  padding-top: 2em;
  padding-bottom: 1em;
}

.statement {
  font-size: 17px;
  color: black;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.emergency-info, .patient-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
}

ion-list{
  width: 100%;
  background-color: transparent;
}

.info-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2em;
  background-color: transparent;
}

.info-type{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
}

ion-icon{
  padding-right: 5px;
  font-size: 20px;
  color: #810808;
}

.info-answer{
  color: black;
}

.assessment{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

.assessment-number{
  font-size: 17px;
  color: black;
}

.assessment-time{
  font-size: 14px;
  color: black;
}

.table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

.table, .table td {
  border: 1px solid #ddd;
  text-align: left;
}

.bp{
  display: flex;
}

.highlight {
  background-color: #EAAAAA;
}


ion-img{
  width: 20px;
}

.heart-rate, .blood-pressure, .spo2, .temperature, 
.respiration-rate, .capillary-refill, .pupils-reaction, .hemo-gluco-test{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black
}