<ion-content class="background">

  <ion-header id="main-content">
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">On Scene</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-menu></app-menu>

  <div class="statements">
    <div class="statement1">
      <p>Stay in contact with the standbys!</p>
    </div>
    <div class="statement2">
      <p>Send vitals and request tools</p>
    </div>
  </div>

</ion-content>