
.toolbar{
    height: 60px;
    --background: #FFEDED;
}

ion-menu-button{
    color: black;
    font-weight: normal;
    margin-top: 12px;
}

.title{
    font-size: 22px;
    color: black;
    font-weight: normal;
    margin-top: 7px;
}

ion-item {
    --background: transparent;
}

.mainpage{
    margin-top:3em;
    margin: 3em;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

//basically color of the outline
ion-select{
    --highlight-color: #810808;
}


ion-input {
    background-color: transparent;
    --background: transparent;
    border: 2px;
}

.questions {
    
    --background: transparent;
    margin-bottom: 2em; 
    color: gray;

}

/* Style label when input is not focused */
ion-label {
    color: black;
}

/* Style label when input is focused */
ion-input.has-focus  {
    --highlight-color: #810808;
}

/* Style label when input is focused */
ion-textarea.has-focus  {
    --highlight-color: #810808;
}

/* Style label when input is not empty */
ion-label:not(:placeholder-shown)  {
    color: black; /* Change color when input is not empty */
}



ion-input[type=date]{
    color-scheme: black; //for calendar icon
}

ion-input[type=time]{
    color-scheme: black; //for clock icon
}


ion-list {
    background-color: transparent;
}
