<ion-header id="main-content">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title">Community</ion-title>
    <ion-icon class="filter-button" name="filter-outline" slot="end" id="popover-button"></ion-icon>

    <ion-popover trigger="popover-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false">On shift</ion-item>
            <ion-item [button]="true" [detail]="false">Medics</ion-item>
            <ion-item [button]="true" [detail]="false">Dispatchers</ion-item>
            <ion-item [button]="true" [detail]="false">Board members</ion-item>
            <ion-item [button]="true" [detail]="false">All members</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="search-bar-container">
    <ion-searchbar mode="md" class="search-bar" [debounce]="800" placeholder="Search all members" (ionInput)="handleInput($event)"></ion-searchbar>
  </div>

  <ng-container *ngFor="let group of filteredGroupedUsers">
    <ion-list *ngIf="group.users.length > 0">
      <ion-list-header lines="inset">
        {{ group.letter }}
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let user of group.users">
            <ion-card class="card" (click)="openModal()">
              <div class="card-content">
                <ion-avatar class="icon">
                  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
                <div class="user-name"> {{ user.firstName }} {{ user.lastName }} </div>
                <div class="user-role">{{ user.role }}</div>
              </div>
              <div class="gray-bottom"></div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ng-container>

  <ion-modal #modal>
    <ng-template>
      <ion-content class="modal-content">
        <ion-toolbar>
          <div class="header">
            <ion-avatar class="modal-profile-pic">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <div class="container">
              <div class="np-container">
                <h2 class="name">Joe Wehbe</h2>
                <p class="position">Board Member & Medic</p>
              </div>
            </div>
          </div>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-grid class="modal-grid" [fixed]="true" class="grid-container">
          <ion-row class="modal-row">
            <ion-col class="modal-col" size="6" size-md="4" size-lg="2">
              <ion-img src="assets/icon/email.png"></ion-img>
              <p>Joe Wehbe</p>
            </ion-col>
            <ion-col class="modal-col" size="6" size-md="4" size-lg="2">
              <ion-img src="assets/icon/phone.png"></ion-img>
              <p>81955654</p>
            </ion-col>
          </ion-row>
          <ion-row class="modal-row">
            <ion-col class="modal-col" size="6" size-md="4" size-lg="2">
              <ion-img src="assets/icon/id.png"></ion-img>
              <p>202000908</p>
            </ion-col>
            <ion-col class="modal-col" size="6" size-md="4" size-lg="2">
              <ion-img src="assets/icon/major.png"></ion-img>
              <p>Computer Science</p>
            </ion-col>
          </ion-row>
        </ion-grid>
    
        <div class="seperator">
          <div class="first-line"></div>
          <p class="section-name">Experience</p>
          <div class="second-line"></div>
        </div>
      
        <div class="experience-sections">
          <div class="first-experience-section">
            <h6>Accomplishments</h6>
            <ion-card class="experience-card">
              <ion-text class="experience-text">Nursing student with 6 years in emergency response.
                Member of the red cross since 2017. Obtained several certifications such as CPR, A-EMT and more.</ion-text>
            </ion-card>
          </div>
      
          <div class="second-experience-section">
            <h6>Medical Skills</h6>
            <ion-card class="skills-card">
              <ion-badge>First Aid</ion-badge>
              <ion-badge>EMT-B</ion-badge>
              <ion-badge>Red Cross</ion-badge>
              <ion-badge>CPR</ion-badge>
              <ion-badge>Medical Protocols</ion-badge>
              <ion-badge>A-EMT</ion-badge>
              <ion-badge>Medication</ion-badge>
              <ion-badge>EMT-I</ion-badge>
              <ion-badge>Emergency Unit</ion-badge>
              <ion-badge>Ventilation</ion-badge>
            </ion-card>
          </div>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>