<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Medical FAQs</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div class="stmt">
    <p class="section">{{ type }}</p>
  </div>

  <div class="cards-container">
    <ion-card *ngFor ="let medicalfaq of allFAQs">
      <div class="question-container">
        <p class="question">{{ medicalfaq.question }}</p>
      </div>
      <div class="answer-container">
        <p class="answer">{{ medicalfaq.answer }}</p>
      </div>
    </ion-card>
  </div>
</ion-content>
