ion-title{
    color: #000;
  
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  .gradient-background{
    --ion-background-color:#FFEDED;
    --ion-background-color: linear-gradient(to bottom, #FFEDED 75%, #DB7575);
  
  }

  ion-toolbar {
    --background:#FFEDED;
  }

  .custom-button{
    --color: gray;
  }

  
#container {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    padding-bottom: 50px;
    
  }
  
  .custom-item-group {
    --border-color: transparent; 
  }

  ion-item{
    --background: #FFEDED;
  }
  
  .custom-item-divider {
    background-color: #FFEDED; 
    border-bottom: 2px solid #3f3c3c; 
  }
 
.custom-label{
    font-weight: bolder;
}
  
  ion-fab-button {
    --background: #810808;
    --color: white;
    --background-activated: #380404;
  --background-hover: #4e0808;
  }




