<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="title">Admin Panel</ion-title>
      <ion-icon class="calendar-button" name="calendar-outline" id="select-time"></ion-icon>
    </div>
  </ion-toolbar>

  <ion-modal mode="ios" id="select-time-modal" #modal trigger="select-time">
    <ng-template>
      <div class="wrapper">
        <div class="stmt">
          <p class="section">Please select a time frame</p>
          <p class="second-stmt">This will specify the start and end date of shifts for the semester</p>
        </div> 
        <div class="time-frame-container">
          <p class="from">From</p>
          <ion-datetime-button datetime="from-date"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime mode="ios" [showDefaultTitle]="true" [showDefaultButtons]="true" presentation="date" id="from-date" [(ngModel)]="fromDate">
                <span slot="title">Select start date</span>
              </ion-datetime>              
            </ng-template>
          </ion-modal>
          <p class="to">to</p>
          <ion-datetime-button datetime="to-date"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime mode="ios" [showDefaultTitle]="true" [showDefaultButtons]="true" presentation="date" id="to-date" [(ngModel)]="toDate">
                <span slot="title">Select end date</span>
              </ion-datetime> 
            </ng-template>
          </ion-modal>
        </div>
        <div class="buttons-container">
          <ion-button class="cancel-button" fill="outline" (click)="dismiss()">Cancel</ion-button>
          <ion-button class="apply-button" fill="outline" (click)="apply()">Apply</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-header>

<ion-content class="gradient-background">

  <div class="stmt">
    <p>Hello, {{user}}</p>
    <p class="second-stmt">Manage everything through the admin panel!</p>
  </div>

  <div class="grid-container">
    <ion-grid>
      <ion-row size="6">
        <ion-col>
          <ion-card (click)="goToMembers()">
            <ion-img src="./assets/img/task-management.png"></ion-img>
            <div class="gray-bottom">Manage Members</div>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="goToManageAnnouncements()">
            <ion-img src="./assets/img/send-announcement.png"></ion-img>
            <div class="gray-bottom">Manage Announcements</div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="6">
        <ion-col>
          <ion-card (click)="goToManageFAQs()">
            <ion-img src="./assets/img/medical-faq.png"></ion-img>
            <div class="gray-bottom">Manage FAQs</div>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="goToExtensions()">
            <ion-img src="./assets/img/phone.png"></ion-img>
            <div class="gray-bottom">Manage Extensions</div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="6">
        <ion-col>
          <ion-card (click)="goToEmergencyRecords()">
            <ion-img src="./assets/img/emergency-records.png"></ion-img>
            <div class="gray-bottom">Emergency Records</div>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card (click)="goToAttendanceRecords()">
            <ion-img src="./assets/img/attendance-records.png"></ion-img>
            <div class="gray-bottom">Attendance Records</div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row size="6">
        <ion-col>
          <ion-card (click)="goToRequests()">
            <ion-img src="./assets/img/login.png"></ion-img>
            <div class="gray-bottom">Registration Requests</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>