/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Alert Dialog */
.alert-dialog{

  .alert-wrapper{
    border-radius: 20px;
  }

  .location-input{
    background-color: #D9D9D9;
    color: black;
    border: none;
    height: 40px; 
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
  }

  .description-input{
    background-color: #D9D9D9;
    color: black;
    border: none;
    height: 40px; 
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
  }

  .alert-radio-group{
    margin: 10px;
  }

  .alert-radio-label{
    border-radius: 10px;
  }
  
  .alert-checkbox-group{
    padding-left: 10px;
    padding-right: 10px;
  }

  .alert-checkbox-label{
    border-radius: 10px;
  }

  .alert-checkbox-icon {
    border: 1px solid gray;
  }

  .alert-button-ok-red{
    color: #810808;
  }

  .alert-button-ok-green{
    color: green;
  }
}

/* Action Sheet */
.action-sheet{

  .action-sheet-title{
    color: gray;
  }

  .delete-button{
    color: red;
  }
}

