<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Your Announcements</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="mainpage">
    <div class="announcement" *ngFor = "let announcement of announcements"  id="announcement.id" (click)="openModal(announcement)">
      <div class="first-box">
        <ion-avatar slot="start" class="profile-picture">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </div>
      <div class="second-box">
        <div class="name">
          <h2 class="username">{{announcement.first_name}} {{announcement.last_name}}</h2>
          <ng-container *ngIf= "announcement.importance == 'Very important'">
            <ion-chip color="danger">{{announcement.importance}}</ion-chip>
          </ng-container>
          <ng-container *ngIf= "announcement.importance == 'Important'">
            <ion-chip color="warning">{{announcement.importance}}</ion-chip>
          </ng-container>
          <ng-container *ngIf= "announcement.importance == 'Regular'">
            <ion-chip color="success">{{announcement.importance}}</ion-chip>
          </ng-container>
        </div>
        <div class="description-container">
          <p class="description">
            {{ truncateDescription(announcement.description, 65) }}
          </p>
        </div>
        <div class="time-posted">
          <h3 class="time">{{ formatDate(announcement.created_at) }}</h3>
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-announcement">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal id="view-announcement-modal" #modal>
    <ng-template>
      <div class="wrapper">
        <div class="modal-announcement" id="announcement">
          <div class="first-box">
            <ion-avatar slot="start" class="profile-picture">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </div>
          <div class="second-box">
            <div class="name">
              <h2 class="username">{{selectedAnnouncement.first_name}} {{selectedAnnouncement.last_name}}</h2>
              <ng-container *ngIf= "selectedAnnouncement.importance == 'Very important'">
                <ion-chip color="danger">{{selectedAnnouncement.importance}}</ion-chip>
              </ng-container>
              <ng-container *ngIf= "selectedAnnouncement.importance == 'Important'">
                <ion-chip color="warning">{{selectedAnnouncement.importance}}</ion-chip>
              </ng-container>
              <ng-container *ngIf= "selectedAnnouncement.importance == 'Regular'">
                <ion-chip color="success">{{selectedAnnouncement.importance}}</ion-chip>
              </ng-container>            </div>
            <div class="description-container">
              <p class="description">
                {{ selectedAnnouncement.description }}
              </p>
            </div>
            <div class="time-posted">
              <h3 class="time">{{ formatDate(selectedAnnouncement.created_at) }}</h3>
              <ion-icon class="delete-icon" name="trash-outline" (click)="presentAlert()"></ion-icon>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal id="add-announcement-modal" #modal trigger="add-announcement">
    <ng-template>
      <form #announcementForm="ngForm">
        <div class="wrapper">
  
          <p class="statement"> Share what you want to say </p>
  
          <div class="announcement-container">
            <ion-text>Write your announcement</ion-text>
            <ion-textarea [autoGrow]="true" placeholder="Announcement..." name="announcement" ngModel required>
              <ion-icon class="modal-icon" name="megaphone" slot="start"></ion-icon>
            </ion-textarea>
          </div>
  
          <div class="receiver-container">
            <ion-text>Specify who will see your announcement</ion-text>
            <ion-select placeholder="Select Receiver" [(ngModel)]="receiverSelectedOption" name="receiver" [multiple]="true" ngModel required>
              <ion-select-option value="all-members">All members</ion-select-option>
              <ion-select-option value="board-members">Board members</ion-select-option>
              <ion-select-option value="medics">Medics</ion-select-option>
              <ion-select-option value="dispatchers">Dispatchers</ion-select-option>
              <ion-icon class="modal-icon" slot="start" name="people"></ion-icon>
            </ion-select>
          </div>
  
          <div class="importance-container">
            <ion-text>Specify its importance level</ion-text>
            <ion-select placeholder="Select Importance level" [(ngModel)]="importanceSelectedOption" name="importance" ngModel required>
              <ion-select-option value="very-important">Very important</ion-select-option>
              <ion-select-option value="important">Important</ion-select-option>
              <ion-select-option value="regular">Regular</ion-select-option>
              <ion-icon class="modal-icon" slot="start" name="alert-circle-sharp"></ion-icon>
            </ion-select>
          </div>
  
          <div class="buttons-container">
            <ion-button class="cancel-button" fill="outline" (click)="dismiss()">Cancel</ion-button>
            <ion-button class="send-button" fill="outline" (click)="send(announcementForm)" [disabled]="announcementForm.invalid">Send</ion-button>
          </div>
        </div>
      </form>
    </ng-template>
  </ion-modal>
</ion-content>