<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button  (click)="goBack()" class="custom-button" expand="block"><ion-icon name="chevron-back-outline" slot="start"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Medical FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-background">

  <div id="container">
    <strong class="capitalize">Patient Assessment</strong>


    <ion-card>
      <ion-card-header>
        <ion-card-title>What is the first responsibility of the EMT-B on the scene of an emergency before starting to assess the patient?</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        SCENE SIZE-UP <br>
        1. Dispatch information <br>
        2. Body Substance Isolation <br>
        3. Scene Safety/Scene hazards <br>
        4. Mechanism of injury/ Nature  of illness <br>
        5. Number of patients <br>
        6. Additional resources needed <br>
        7. C-Spine Immobilization<br>
      </ion-card-content>
      <ion-icon name="trash-outline"></ion-icon>
    </ion-card>
  </div>

  


 </ion-content>
