<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="custom-button" expand="block"><ion-icon name="chevron-back-outline" slot="start"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Your Announcements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-background">
  <ion-header>
    <ion-toolbar class="header-background">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Nothing to show here! You haven’t sent any announcements yet</p>
    <div class="centered-container">

      <img alt="No Requests" src="assets/imgs/woman.png" />
   
    </div>
  </div>

 
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click) = "goToAddAnnouncement()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
