.header-toolbar{
  height: 60px;
  --background: #FFEDED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.back-button{
  font-weight: normal;
  color: black;
}
  
.title{
  font-size: 22px;
  font-weight: normal;
  color: black;
}

.filter-button{
  color: black;
  width: 20%;
  font-size: 30px;
}

.filter-button:active{
  color: gray;
  width: 20%;
  font-size: 30px;
}

.search-bar-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2em;
}

ion-searchbar.search-bar {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px #810808;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  --background: transparent;
  --color: black;
  --placeholder-color: gray;
  --icon-color: #810808;
  --clear-button-color: #810808; 
  --box-shadow: none;
}

ion-list {
  background-color: transparent;
}

ion-list-header{
  --color: black;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.card:active{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  animation: pulse 0.1s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.icon{
  margin: 5%;
  height: 65px;
  width: 65px;
}

.user-name{
  color: black;
  padding-top: 5px;
}

.gray-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100%;
  background-color: #D4D4D4;
}

ion-fab-button {
  --background: #810808;
  --color: white;
  --background-activated: #380404;
  margin: 5px;
}

ion-modal {
  --height: 60%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modal-content{
  --ion-background-color: white;
}

ion-toolbar {
  --background: linear-gradient(to top,  white -10%, #DB7575); 
  --color: white;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-profile-pic{
  margin: 5%;
  height: 75px;
  width: 80px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.np-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  color: black;
}

.name, .position {
  margin: 0; 
  font-size: 1.2rem; 
}

.position {
  font-size: 0.8rem; 
  color: #837272; 
  padding-left: 5px;
}

.modal-grid{
  padding-left: 10px;
  padding-right: 10px;
}

.modal-row{
  height: 3em;
}

.modal-col{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: gray
}

ion-img{
  width: 40px;
  padding-right: 10px;
}

.seperator{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.first-line{
  position: relative;
  width: 30%;
  height: 1px;
  background-color: #837272;
}

.first-line::before {
  content: '';
  position: absolute;
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  background-color: #837272;
  left: 0;
  top: -5px;
}

.section-name{
  font-size: 16px;
  padding: 5px;
  color: black;
  font-style: italic;
}

.second-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #837272;
}

.second-line::after {
  content: '';
  position: absolute;
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  background-color: #837272;
  right: 0;
  top: -5px;
}

.experience-sections{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-experience-section{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

h6{
  font-size: 0.8rem;
  color: #837272;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
}

.experience-card{
  padding: 10px;
  background-color:#F2F2F2;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.experience-text{
  color: black;
  font-size: 0.8rem;
  font-weight: lighter;
}

.second-experience-section{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.skills-card{
  background-color:#F2F2F2;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

ion-badge{
  background: #810808;
  font-weight: normal;
}
