<ion-content class="background" mode="ios">
    <div class="main-container">
        <div class="logo-block">
            <img class="logo" src="/assets/img/logo.png">
        </div>
        
        <div class="curved-shape">
            <div class = statement-container>
                <h1>Login with your LAU email</h1>
            </div>
            <div class="forms-container">
                <ion-list>
                    <ion-item lines="none">
                        <ion-input type="email" placeholder="Email" [(ngModel)]="email" [pattern]="emailPattern" required>
                            <ion-icon name="mail-outline" slot="start"></ion-icon>
                        </ion-input>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" required>
                            <ion-icon name="lock-closed" slot="start"></ion-icon>
                            <ion-icon [name]="showPassword ? 'eye-off' : 'eye'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
                        </ion-input>   
                    </ion-item>
                </ion-list>
                <ion-checkbox labelPlacement="end">Keep me signed in</ion-checkbox>
                <ion-button [disabled]="!email || !password || !email.match(emailPattern)" (click)="login()">
                    <ion-icon slot="start" name="log-in-outline"></ion-icon>
                    Login
                </ion-button> 
                <h6 class="no-account-text" (click)="navigateRegister()">Don't have an account?</h6>               
            </div>  
        </div>
    </div>
</ion-content>
