/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Backgrounds */
.background{
  --ion-background-color:#FFEDED;
}
  
.gradient-background{
  --ion-background-color: linear-gradient(to bottom, #FFEDED 80%, #DB7575);
}

.menu-gradient-background{
  --ion-background-color: linear-gradient(to bottom, #FFEDED 90%, #DB7575);
}

/* Alert Dialog */
.alert-dialog{

  .alert-wrapper{
    background-color: white;
    border-radius: 20px;
  }

  .alert-wrapper .alert-title{
    color: black;
  }

  .alert-sub-title{
    color: gray;
  }

  .alert-message {
    color: gray;
  }

  .location-input{
    background-color: #D9D9D9;
    color: black;
    border: none;
    height: 40px; 
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
  }

  .description-input{
    background-color: #D9D9D9;
    color: black;
    border: none;
    height: 40px; 
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
  }

  .alert-radio-group{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .alert-radio-label{
    background-color: lightgray;
    color: black;
    border-radius: 10px;
  }

  .alert-button-cancel{
    color: black;
    background-color: #F1F1F1;
  }

  .alert-button-ok-red{
    color: white;
    background-color:#9d3e3e;
  }

  .alert-button-ok-green{
    color: white;
    background-color:green;
  }
}

/* Action Sheet */
.action-sheet{

  .action-sheet-group {
    background: white;
  }

  .action-sheet-title{
    color: black;
  }

  .action-sheet-button{
    color: black;
  }

  .delete-button{
    color: red;
  }

  .action-sheet-cancel::after{
    background: white;
  }

  .action-sheet-button:active{
    color: gray;
  }
}