.toolbar{
    height: 60px;
    --background: #FFEDED;
}

ion-menu-button{
    color: black;
    font-weight: normal;
    margin-top: 12px;
}

.title{
    font-size: 22px;
    color: black;
    font-weight: normal;
    margin-top: 7px;
}

.mainpage{
    display: flex;
    flex-direction: column;
}
 
.announcement{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
}

.announcement:active{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    background-color:  #c3baba;
}

.first-box {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture{
    margin: 15px; 
    color: #837272;
    height:70px;
    width: 70px;
}

.second-box {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.username {
    font-weight: bold;
    color: black;
    font-size: 18px;
}

ion-chip{
    font-size: 14px;
    height: 50%;
    text-align: center;
}

.ion-chip-critical {
    --background: #FF0000;
    --color: white;
}

.ion-chip-important {
    --background: #FF7A00;
    --color: white;
}

.ion-chip-regular {
    --background: #0BC813;
    --color: white;
}

.time-posted{
    margin: 0;
    display: flex;
}

.time{
    color: #837272;
    opacity: 0.8;
    font-size: 13px;
    font-weight:lighter;
    margin-top: 10px;
}

.description{
    margin: 0;
    color: black;
    opacity: 0.8;
}


ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
  
ion-modal#example-modal .wrapper {
    background-color: white;
}
