ion-toolbar{
    height: 60px;
    --background: rgba(0, 0, 0, 0.0);
}

ion-menu-button{
    color: black;
    font-weight: normal;
    margin-top: 12px;
}

ion-title{
    font-size: 22px;
    color: black;
    font-weight: normal;
    margin-top: 6px;
    margin-left: -27%;
}