.toolbar{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-menu-button{
  font-weight: normal;
}

.title{
  font-size: 22px;
  font-weight: normal;
}

.stmt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  font-size: 18px;
  font-weight: bold;
}

.second-stmt{
  margin-top: -1em;
  font-size: 14px;
}

.ongoing-card{
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  height: 7em;
  margin: 10px;
}

.ongoing-card:active{
  animation: pulse 0.1s ease-in-out;
}

.first-box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  padding: 3px;
  background-color: #838383;
  color: white;
  text-align: center;
}

.second-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 32%;
  padding-top: 5px;
}

.location{
  font-size: 15px;
}

.description-container{
  width: 100%;
  text-align: center;
  overflow: auto;
}

.seperator{
  width: 1px;
  height: 100%;
  background-color: gray;
}

.third-box {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.medic, .patient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 22%;
  font-size: 15px;
}

.medic-name-green{
  color: #08811B;
}

.patient-name-green{
  color: #08811B;
}

.patient-name-red{
  color: red;
}

.vitals{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.heart-rate, .blood-pressure, .spo2, .temperature, 
.respiration-rate, .capillary-refill, .pupils-reaction, .hemo-gluco-test{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
}

ion-img{
  width: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}