.header-toolbar{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.toolbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
  
.back-button{
    font-weight: normal;
}
    
.title{
    font-size: 22px;
    font-weight: normal;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 8em;
    border-bottom: solid 1px;
}

.icon{
    margin: 5%;
    height: 80px;
    width: 80px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.np-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.name, .position {
    margin: 0; 
    font-size: 1.2rem; 
    opacity: 0.2;
}

.position {
    font-size: 0.8rem; 
    padding-left: 5px;
}

.save-button{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

ion-icon{
    font-size: 30px;
    opacity: 0.8;
}

ion-icon:active{
    font-size: 30px;
    color: gray;
    opacity: 0.8;
}

ion-grid{
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.2;
}

ion-row{
    height: 3em;
}

ion-col{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ion-img{
    width: 40px;
    padding-right: 10px;
}

.entry{
    font-size: 12px;
}

.seperator{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.first-line{
    position: relative;
    width: 30%;
    height: 1px;
    background-color: #837272;
}

.first-line::before {
    content: '';
    position: absolute;
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    background-color: #837272;
    left: 0;
    top: -5px;
}

.section-name{
    font-size: 16px;
    padding: 5px;
}

.second-line {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #837272;
}

.second-line::after {
    content: '';
    position: absolute;
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    background-color: #837272;
    right: 0;
    top: -5px;
}

.experience-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-experience-section{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 100%;
}

h6{
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0;
}

.experience-card{
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.experience-text{
    font-size: 0.8rem;
    font-weight: lighter;
}

.second-experience-section{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.first-experience-section:active, .second-experience-section:active{
    animation: pulse 0.1s ease-in-out;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

.skills-card{
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.no-experience-text, .no-tags-text{
    font-style: italic;
}

ion-badge{
    background: #810808;
    font-weight: normal;
    margin-right: 2px;
    --color: white;
}

.calendar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
}

.calendar{
    background-color: transparent;
}

.attendance-button-container{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.attendance-button{
    --border-color: #810808;
    --background-activated: #4d0606;
    --color-activated: white;
    width: 50%;
}

ion-modal#edit-first-section-modal, ion-modal#edit-second-section-modal {
    --width: 90%;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}
  
ion-modal#edit-first-section-modal .wrapper, ion-modal#edit-second-section-modal .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
  
.statement{
    font-weight: bold;
    font-size: 18px;
}
  
.input-container{
    padding: 10px;
    width: 100%;
}
  
ion-textarea{
    background-color: lightgray;
    color: black;
    border-radius: 10px;
    --padding-start: 10px;
}
  
.modal-icon{
    font-size: 25px;
    color: #810808;
    padding-left: 10px;
}
  
.buttons-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
  
.save-button{
    --border-color: #810808;
    --background-activated: #810808;
    --color-activated: white;
    width: 50%;
}

.cancel-button{
    --background-activated: #810808;
    --color-activated: white;
    width: 50%;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5em;
    padding: 10px;
}
  
.stmt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    font-size: 18px;
    font-weight: bold;
}
  
.second-stmt{
    margin-top: -1em;
    font-size: 14px;
    text-align: center;
}
  
.no-emergencies-img{
    width: 80%;
}
  
.no-results{
    font-style: italic;
}