<ion-header id="main-content">
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button (click)="back()">
          <ion-icon class="back-button" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="title">Editing Profile</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-background" *ngIf="user">
  <ion-card class="card-container">   
    <div class="header">

      <ion-avatar class="icon" *ngIf = "user_src_img && !user_src_img_display">
        <input style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;" id="fileInput" (change)="onChange($event)" class="img" type="file" accept="image/png, image/jpeg, image/jpg, image/gif">
        <img alt="Silhouette of a person's head"  [src]="user_src_img ? 'http://127.0.0.1:8000/storage/images/' + user_src_img :
        'https://ionicframework.com/docs/img/demos/avatar.svg'"
 onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" />
      </ion-avatar>
     
      <ion-avatar class="icon" *ngIf = "user_src_img && user_src_img_display">
        <input style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;" id="fileInput" (change)="onChange($event)" class="img" type="file" accept="image/png, image/jpeg, image/jpg, image/gif">
        <img alt="Silhouette of a person's head"  [src]="user_src_img_display"
 onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" />
      </ion-avatar>
     
      <div class="container">
        <div class="np-container">
          <h2 class="name">{{ user.first_name }} {{ user.last_name }}</h2>
          <p class="position">{{user.rank.rank_name}}</p>
        </div>
        <div class="save-button">
          <ion-icon name="checkbox-outline" (click)="navigateProfile()"></ion-icon>
        </div>
      </div>
    </div>
    <ion-grid [fixed]="true" class="grid-container">
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="assets/icon/email.png"></ion-img>
          <p class="entry">{{ user.lau_email }} </p>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="assets/icon/phone.png"></ion-img>
          <p class="entry"> {{ user.phone_number }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="assets/icon/id.png"></ion-img>
          <p class="entry">{{ user.student_id }}</p>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-img src="assets/icon/major.png"></ion-img>
          <p class="entry">{{ user.major }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="seperator">
      <div class="first-line"></div>
      <p class="section-name">Experience</p>
      <div class="second-line"></div>
    </div>
    <div class="experience-sections">
      <div class="first-experience-section" id="edit-first-section">
        <h6>Talk about your accomplishments</h6>
        <ion-card class="experience-card">
          <ion-text class="experience-text">{{ bio }}</ion-text>
          <ion-text class="no-experience-text" *ngIf="!(bio)">Nothing to show here</ion-text>
        </ion-card>
      </div>
      <div class="second-experience-section" id="edit-second-section">
        <h6>Show your skills in the medical field</h6>
        <ion-card class="skills-card">
          <ng-container *ngIf="user && user.tags">
            <ng-container *ngFor="let tag of tags.split(',')">
              <ion-badge>{{ tag.trim() }}</ion-badge>
            </ng-container>
          </ng-container>
          <ion-text class="no-tags-text" *ngIf="!(tags)">Nothing to show here</ion-text>
        </ion-card>
      </div>
    </div>
    <div class="seperator">
      <div class="first-line"></div>
      <p class="section-name">Schedule</p>
      <div class="second-line"></div>
    </div>
    <div class="calendar-container">
      <ion-datetime 
        class="calendar"
        mode="md" 
        presentation="date" 
        [readonly]="true"
        [firstDayOfWeek]="1" 
        [highlightedDates]="highlightedDates">
      </ion-datetime> 
    </div>
    <div class="attendance-button-container">
      <ion-button class="attendance-button" fill="outline" disabled>Mark attendance</ion-button>
    </div>
  </ion-card>
  <ion-modal id="edit-first-section-modal" #modal trigger="edit-first-section">
    <ng-template>
      <div class="wrapper">
        <p class="statement"> Editing accomplishments</p>
        <div class="input-container">
          <ion-text>Talk about your accomplishments</ion-text>
          <ion-textarea [(ngModel)]="bio"
            [autoGrow]="true" placeholder="Experience...">
          </ion-textarea>
        </div>
        <div class="buttons-container">
          <ion-button class="cancel-button" fill="outline" (click)="dismissBio()">Cancel</ion-button>
          <ion-button class="save-button" fill="outline" (click)="save()">Save</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal id="edit-second-section-modal" #modal trigger="edit-second-section">
    <ng-template>
      <div class="wrapper">
        <p class="statement"> Editing skills</p>
        <div class="input-container">
          <ion-text>Seperate tags with a comma</ion-text>
          <ion-textarea [(ngModel)]="tags"
            [autoGrow]="true" placeholder="Tags...">
          </ion-textarea>
        </div>
        <div class="buttons-container">
          <ion-button class="cancel-button" fill="outline" (click)="dismissTags()">Cancel</ion-button>
          <ion-button class="save-button" fill="outline" (click)="save()">Save</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-content *ngIf="!user && isLoading">
  <div class="body">
    <ion-spinner name="crescent"></ion-spinner>
  </div> 
</ion-content>